Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

fix(skill-creator): prune local package artifacts
  skills/skill-creator/scripts/audit.py
  skills/skill-creator/scripts/package.py
  tests/test_package.py
  tests/test_skill_creator_audit.py
Due: wagents-validate

refactor(wagents): normalize platform metadata handling
  tests/docs_ui/screenshot_smoke.py
  tests/test_cli_integration.py
  tests/test_docling_graph_skill.py
  tests/test_sync_agent_stack.py
  wagents/cli.py
  wagents/docs.py
  wagents/platforms/__init__.py
  wagents/platforms/codex.py
  wagents/platforms/copilot.py
  wagents/platforms/gemini.py
  wagents/site_model.py
Due: none

chore(nerdbot): add packaged artifacts
  nerdbot_overhaul_plan_md_bundle.zip
  skills/nerdbot.zip
Due: wagents-validate

docs(openspec): clarify post-archive evidence state
  kb/raw/sources/openspec-change-archive-source.md
  kb/wiki/topics/known-risks-and-open-gaps.md
  kb/wiki/topics/openspec-change-archive-status.md
  kb/wiki/topics/openspec-workflow.md
  planning/20-harness-registry/02-harness-gap-closure-plan.md
  planning/95-migration/40-openspec-archive-checklist.md
  planning/95-migration/50-release-notes.md
  planning/99-task-graph/dispatch/README.md
Due: none

docs(instructions): add search discipline guidance
  instructions/global.md
Due: none

docs(harness): sync generated instruction bridges
  .github/copilot-instructions.md
  instructions/codex-global.md
Due: none

docs(instructions): correct external skills path
  .github/copilot-instructions.md
  instructions/codex-global.md
  instructions/global.md
Due: none

docs(instructions): add compatibility discipline
  .github/copilot-instructions.md
  instructions/codex-global.md
  instructions/global.md
  openspec/changes/avoid-default-legacy-migration-logic/.openspec.yaml
  openspec/changes/avoid-default-legacy-migration-logic/affected-surfaces.md
  openspec/changes/avoid-default-legacy-migration-logic/design.md
  openspec/changes/avoid-default-legacy-migration-logic/proposal.md
  openspec/changes/avoid-default-legacy-migration-logic/specs/docs-instructions/spec.md
  openspec/changes/avoid-default-legacy-migration-logic/tasks.md
  openspec/changes/avoid-default-legacy-migration-logic/validation-matrix.md
Due: none

fix(opencode): persist notifier config
  .opencode/PLUGINS.md
  config/opencode-notifier.json
  config/sync-manifest.json
  opencode-setup/INSTALL_MANIFEST.md
  opencode.json
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

feat(skills): add things manager
  skills/things-manager/SKILL.md
  skills/things-manager/evals/evals.json
  skills/things-manager/references/safety.md
  skills/things-manager/references/workflows.md
Due: wagents-validate

feat(skills): enhance things manager
  docs/src/content/docs/skills/things-manager.mdx
  skills/things-manager/evals/evals.json
  skills/things-manager/references/safety.md
  skills/things-manager/references/workflows.md
  skills/things-manager/scripts/classify_request.py
Due: wagents-validate, docs-build-check

docs: sync things manager readme
  README.md
Due: none

chore: sync repo metadata inventory
  config/sync-manifest.json
  planning/manifests/repo-drift-ledger.json
  planning/manifests/repo-sync-inventory.json
Due: none

fix: normalize repo metadata owner
  planning/manifests/repo-drift-ledger.json
  planning/manifests/repo-sync-inventory.json
Due: none

fix(opencode): harden worktree plugin integration
  .ocx/receipt.jsonc
  .opencode/PLUGINS.md
  .opencode/ocx.jsonc
  .opencode/package.json
  .opencode/plugin/kdco-primitives/get-project-id.ts
  .opencode/plugin/kdco-primitives/index.ts
  .opencode/plugin/kdco-primitives/log-warn.ts
  .opencode/plugin/kdco-primitives/mutex.ts
  .opencode/plugin/kdco-primitives/shell.ts
  .opencode/plugin/kdco-primitives/temp.ts
  .opencode/plugin/kdco-primitives/terminal-detect.ts
  .opencode/plugin/kdco-primitives/types.ts
  .opencode/plugin/kdco-primitives/with-timeout.ts
  .opencode/plugin/worktree.ts
  .opencode/plugin/worktree/launch-context.ts
  .opencode/plugin/worktree/state.ts
  .opencode/plugin/worktree/terminal.ts
  config/schemas/repo-drift-ledger.schema.json
  config/schemas/repo-sync-inventory.schema.json
  opencode-setup/INSTALL_MANIFEST.md
  opencode.json
  openspec/changes/integrate-opencode-plugins/affected-surfaces.md
  openspec/changes/integrate-opencode-plugins/design.md
  openspec/changes/integrate-opencode-plugins/proposal.md
  openspec/changes/integrate-opencode-plugins/tasks.md
  openspec/changes/integrate-opencode-plugins/validation-matrix.md
  planning/manifests/repo-drift-ledger.json
  planning/manifests/repo-sync-inventory.json
  tests/test_distribution_metadata.py
Due: none

feat(opencode): document managed plugin setup
  .ignore
  .opencode/PLUGINS.md
  config/opencode-large-image-optimizer.json
  platforms/opencode/plugins/opencode-context-cache.mjs
  skills/nerdbot/src/nerdbot/retrieval.py
Due: wagents-validate

feat(harness-master): add usage review mode
  skills/harness-master/SKILL.md
  skills/harness-master/data/research-sources.json
  skills/harness-master/evals/apply-research-without-audit.json
  skills/harness-master/evals/community-source-negative.json
  skills/harness-master/evals/credentialed-source-degraded.json
  skills/harness-master/evals/ecosystem-research-opencode-plugins.json
  skills/harness-master/evals/evals.json
  skills/harness-master/evals/github-graphql-enrichment.json
  skills/harness-master/evals/mcp-registry-cross-source.json
  skills/harness-master/evals/skills-source-audit-route.json
  skills/harness-master/evals/usage-review-cloud-blind-spots.json
  skills/harness-master/evals/usage-review-natural-language.json
  skills/harness-master/evals/usage-review-not-observability-advisor.json
  skills/harness-master/evals/usage-review-opencode-explicit.json
  skills/harness-master/evals/usage-review-raw-transcript-negative.json
  skills/harness-master/evals/usage-review-read-only-boundary.json
  skills/harness-master/evals/usage-review-recommendation-lanes.json
  skills/harness-master/evals/usage-review-secret-redaction.json
  skills/harness-master/references/ecosystem-research.md
  skills/harness-master/references/evidence-boundaries.md
  skills/harness-master/references/output-format.md
  skills/harness-master/references/source-profiles.md
  skills/harness-master/references/usage-review.md
  skills/harness-master/references/workflow.md
  skills/harness-master/scripts/candidate_score.py
  skills/harness-master/scripts/source_probe.py
  skills/harness-master/scripts/usage_probe.py
Due: wagents-validate

fix: use persistent chrome devtools profile
  AGENTS.md
  config/mcp-registry.json
  docs/src/content/docs/mcp/index.mdx
  mcp/mcphub/mcp_settings.json
  scripts/mcphub/common.sh
  scripts/sync_agent_stack.py
Due: docs-build-check

fix: attach chrome devtools to normal chrome
  AGENTS.md
  config/mcp-registry.json
  docs/src/content/docs/mcp/index.mdx
  mcp/mcphub/mcp_settings.json
  scripts/mcphub/chrome-devtools-browser-url.sh
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: docs-build-check

chore: add grok mcp and cli-just support
  .grok/config.toml
  AGENTS.md
  config/external-skills.md
  config/mcp-registry.json
  config/sync-manifest.json
  docs/public/generated-skill-indexes/all.json
  docs/public/generated-skill-indexes/external.json
  docs/public/generated-skill-indexes/install-scripts.json
  docs/public/generated-skill-indexes/installed.json
  docs/src/content/docs/external-skills.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/all.mdx
  docs/src/content/docs/skills/installed.mdx
  docs/src/generated-sidebar.mjs
  docs/src/generated-site-data.mjs
  docs/src/generated-skill-indexes.mjs
  instructions/opencode-global.md
  opencode.json
  planning/manifests/repo-drift-ledger.json
  planning/manifests/repo-sync-inventory.json
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
  wagents/platforms/__init__.py
  wagents/platforms/grok.py
  wagents/platforms/opencode.py
Due: docs-build-check

feat(skill-creator): add portable asset_toolkit validators
  skills/skill-creator/SKILL.md
  skills/skill-creator/evals/evals.json
  skills/skill-creator/references/best-practices.md
  skills/skill-creator/references/evaluation-rubric.md
  skills/skill-creator/references/proven-patterns.md
  skills/skill-creator/references/workflow.md
  skills/skill-creator/scripts/asset_toolkit/__init__.py
  skills/skill-creator/scripts/asset_toolkit/common.py
  skills/skill-creator/scripts/asset_toolkit/validate_evals.py
  skills/skill-creator/scripts/asset_toolkit/validate_hooks.py
  skills/skill-creator/scripts/asset_toolkit/validate_skill.py
  skills/skill-creator/scripts/audit.py
  skills/skill-creator/scripts/check.py
  skills/skill-creator/scripts/generate_check.py
  skills/skill-creator/scripts/package.py
  skills/skill-creator/scripts/scaffold_skill.py
  skills/skill-creator/scripts/templates/check.py
  skills/skill-creator/scripts/verify.py
  skills/skill-creator/templates/dashboard.html
  tests/test_asset_toolkit_output.py
  tests/test_package_toolkit_allowlist.py
  tests/test_skill_creator_audit.py
Due: wagents-validate

feat(validate): add scripts/validate repo composers
  Makefile
  pyproject.toml
  scripts/validate/__init__.py
  scripts/validate/_mcp_local.py
  scripts/validate/_toolkit.py
  scripts/validate/collectors/__init__.py
  scripts/validate/collectors/agents.py
  scripts/validate/collectors/hooks.py
  scripts/validate/collectors/mcp.py
  scripts/validate/collectors/skills.py
  scripts/validate/validate_mcp.py
  scripts/validate/validate_repo.py
  tests/test_validate_repo.py
Due: none

feat(agent-conventions): add portable agent validators
  agents/README.md
  skills/agent-conventions/SKILL.md
  skills/agent-conventions/evals/agent-creation-trigger.json
  skills/agent-conventions/evals/readme-sync.json
  skills/agent-conventions/scripts/check.py
  skills/agent-conventions/scripts/scaffold_agent.py
  skills/agent-conventions/scripts/validate_agent.py
Due: wagents-validate

feat(grok): add Grok harness integration
  config/grok-config.toml
  config/grok-env.sh
  instructions/grok-global.md
  openspec/changes/archive/2026-06-16-add-grok-harness-integration/.openspec.yaml
  openspec/changes/archive/2026-06-16-add-grok-harness-integration/affected-surfaces.md
  openspec/changes/archive/2026-06-16-add-grok-harness-integration/design.md
  openspec/changes/archive/2026-06-16-add-grok-harness-integration/proposal.md
  openspec/changes/archive/2026-06-16-add-grok-harness-integration/specs/downstream-tooling/spec.md
  openspec/changes/archive/2026-06-16-add-grok-harness-integration/tasks.md
  openspec/changes/archive/2026-06-16-add-grok-harness-integration/validation-matrix.md
  planning/manifests/harness-fixture-support.json
  tests/test_grok_platform.py
  wagents/platforms/grok.py
Due: none
