Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

fix(candidate-corpus): harden inspector promotion and canary probes
  planning/manifests/candidate-corpus-jul2026/runtime-activation-assurance.json
  planning/manifests/candidate-corpus-jul2026/runtime-activation-receipts.json
  scripts/promote_candidate_node_runtime.py
  scripts/run_candidate_cli_canaries.py
  tests/test_promote_candidate_node_runtime.py
Due: none

feat(skills-sync): Cursor store/projection coverage and ensure-after-apply
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/harness-config/plugin-skill-ownership.mdx
  openspec/changes/fleet-skill-projection-assurance/design.md
  openspec/changes/fleet-skill-projection-assurance/proposal.md
  openspec/changes/fleet-skill-projection-assurance/specs/skill-projection-assurance/spec.md
  openspec/changes/fleet-skill-projection-assurance/tasks.md
  planning/manifests/harness-reconciliation.json
  scripts/generate_harness_reconciliation.py
  skills/cross-agent-install-smoke/SKILL.md
  skills/cross-agent-install-smoke/scripts/dry_run.py
  skills/harness-master/references/harness-surfaces.md
  tests/test_cli_integration.py
  tests/test_cross_agent_install_smoke_dry_run.py
  tests/test_cursor_skill_ensure.py
  tests/test_harness_reconciliation.py
  tests/test_installed_inventory.py
  tests/test_skills_sync_pin_gate.py
  tests/test_sync_desired_skills.py
  wagents/cli.py
  wagents/installed_inventory.py
  wagents/platforms/cursor.py
  wagents/skill_coverage.py
Due: wagents-validate, docs-build-check

fix(hooks): recognize ty in validation evidence and finish ty parity
  AGENTS.md
  docs/runbooks/pre-commit-optimization.md
  hooks/wagents-hook.py
  scripts/sync_agent_stack.py
  tests/test_cursor_home_sync_pin.py
  tests/test_python_tooling_config.py
  tests/test_wagents_hook.py
  wagents/cli.py
Due: none

test(readme): soft-assert Development row mentions typecheck
  tests/test_readme.py
Due: none

docs(readme): regenerate Development row for config-driven ty
  README.md
Due: none

fix: restore bounded MCPHub clients and refresh gate artifacts
  README.md
  config/mcp-registry.json
  docs/public/generated-reports/docs-graph-snapshot.json
  docs/public/generated-reports/maintainer-ops-dashboard.json
  docs/src/content/docs/reports/docs-graph-snapshot.mdx
  docs/src/content/docs/reports/maintainer-ops-dashboard.mdx
Due: docs-build-check
