Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

wagents-validate:
  name: Validate skills and agents
  entry: uv run wagents validate
  language: system
  pass_filenames: false

docs-build-check:
  name: Verify docs build
  entry: pnpm --dir docs build
  language: system
  pass_filenames: false

fix: restore first-party mcp authoring paths
  AGENTS.md
  README.md
  agent-bundle.json
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/mcp-creator.mdx
  pyproject.toml
  skills/mcp-creator/SKILL.md
  skills/mcp-creator/references/deployment.md
  tests/test_catalog.py
  tests/test_cli_integration.py
  tests/test_distribution_metadata.py
  tests/test_docs.py
  tests/test_readme.py
  tests/test_rendering.py
  wagents/catalog.py
  wagents/cli.py
  wagents/docs.py
Due: wagents-validate, docs-build-check

chore: harden skill audit validation
  .github/workflows/ci.yml
  .github/workflows/release-skills.yml
  .pre-commit-config.yaml
  Makefile
  skills/skill-creator/scripts/_shared.py
  skills/skill-creator/scripts/audit.py
Due: wagents-validate

docs: clean starlight health checks
  docs/src/components/starlight/Head.astro
  docs/src/pages/og/[...route].ts
Due: docs-build-check

fix: isolate chrome devtools mcp browser
  config/codex-config.toml
  config/mcp-registry.json
  docs/src/content/docs/mcp/index.mdx
  mcp.json
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: docs-build-check

fix: slim codex startup skill context
  config/codex-config.toml
  instructions/codex-global.md
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

fix: align docling mcp startup command
  config/codex-config.toml
  config/mcp-registry.json
  mcp.json
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

fix: force isolated chrome devtools mcp launch
  config/codex-config.toml
  config/mcp-registry.json
  docs/src/content/docs/mcp/index.mdx
  mcp.json
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: docs-build-check

feat: add portable research hook registry
  .github/hooks/policy.json
  config/codex-config.toml
  config/hook-registry.json
  config/sync-manifest.json
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/skills/research.mdx
  hooks/wagents-hook.py
  scripts/sync_agent_stack.py
  skills/research/SKILL.md
  tests/test_sync_agent_stack.py
  tests/test_wagents_hook.py
  wagents/cli.py
  wagents/docs.py
  wagents/parsing.py
Due: wagents-validate, docs-build-check

fix: keep copilot sync idempotent
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

fix: wire cross-harness research hooks
  config/hook-registry.json
  hooks/wagents-hook.py
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
  tests/test_wagents_hook.py
Due: none

fix: attach chrome devtools mcp to browser endpoint
  scripts/sync_agent_stack.py
Due: none

fix: harden research hook guards
  docs/src/content/docs/skills/research.mdx
  hooks/wagents-hook.py
  skills/research/SKILL.md
  tests/test_wagents_hook.py
Due: wagents-validate, docs-build-check

feat: add docling graph skill
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/docling-graph.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-sidebar.mjs
  skills/docling-graph/SKILL.md
  skills/docling-graph/evals/evals.json
  skills/docling-graph/references/cli-api-recipes.md
  skills/docling-graph/references/debugging.md
  skills/docling-graph/references/export-graph-management.md
  skills/docling-graph/references/pipeline-configuration.md
  skills/docling-graph/references/template-design.md
  skills/docling-graph/scripts/check-env.py
  skills/docling-graph/scripts/lint-template.py
Due: wagents-validate, docs-build-check

feat: refine docling graph skill
  README.md
  docs/src/content/docs/skills/docling-graph.mdx
  docs/src/content/docs/skills/index.mdx
  skills/docling-graph/SKILL.md
  skills/docling-graph/evals/evals.json
  skills/docling-graph/references/cli-api-recipes.md
  skills/docling-graph/references/debugging.md
  skills/docling-graph/references/export-graph-management.md
  skills/docling-graph/references/pipeline-configuration.md
  skills/docling-graph/references/template-design.md
  skills/docling-graph/scripts/check-env.py
  skills/docling-graph/scripts/lint-template.py
  tests/test_docling_graph_skill.py
Due: wagents-validate, docs-build-check

fix: align docling graph examples
  docs/src/content/docs/skills/docling-graph.mdx
  skills/docling-graph/SKILL.md
  skills/docling-graph/references/cli-api-recipes.md
  skills/docling-graph/references/pipeline-configuration.md
  skills/docling-graph/scripts/check-env.py
  tests/test_docling_graph_skill.py
Due: wagents-validate, docs-build-check

feat: sync lm studio harness config
  config/codex-config.toml
  config/tooling-policy.json
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

fix: import Path in email-whiz constants
  skills/email-whiz/scripts/constants.py
Due: wagents-validate

docs: add generated visual asset system
  README.md
  docs/astro.config.mjs
  docs/public/social-card.png
  docs/src/assets/brand/control-plane-hero.webp
  docs/src/assets/brand/logo.webp
  docs/src/assets/illustrations/catalog-mesh.webp
  docs/src/assets/illustrations/harness-matrix.webp
  docs/src/assets/illustrations/mcp-routing.webp
  docs/src/assets/illustrations/workflow-map.webp
  docs/src/components/starlight/Head.astro
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/start-here.mdx
  docs/src/generated-site-data.mjs
  docs/src/pages/og/[...route].ts
  docs/src/styles/20-hero.css
  docs/src/styles/30-cards.css
  tests/test_docs.py
  tests/test_site_model.py
  wagents/cli.py
  wagents/docs.py
  wagents/site_model.py
Due: docs-build-check

test: harden docs visual smoke
  docs/astro.config.mjs
  docs/src/generated-visual-assets.css
  docs/src/styles/20-hero.css
  tests/docs_ui/README.md
  tests/docs_ui/screenshot_smoke.py
  tests/test_docs.py
  tests/test_site_model.py
  wagents/docs.py
  wagents/site_model.py
Due: docs-build-check

Path conditions:
  wagents-validate: any of: ^(skills/|agents/)
  docs-build-check: any of: docs/.*\.(mdx|css|mjs|astro)$
