Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

wagents-validate:
  name: Validate skills and agents
  entry: uv run wagents validate
  language: system
  pass_filenames: false

docs-build-check:
  name: Verify docs build
  entry: pnpm --dir docs build
  language: system
  pass_filenames: false

feat(harness-master): expand desktop and web harness coverage
  docs/src/content/docs/skills/harness-master.mdx
  skills/harness-master/SKILL.md
  skills/harness-master/evals/all-both.json
  skills/harness-master/evals/chatgpt-global.json
  skills/harness-master/evals/cherry-studio-global-expanded.json
  skills/harness-master/evals/claude-desktop-global.json
  skills/harness-master/evals/cursor-agent-alias.json
  skills/harness-master/evals/evals.json
  skills/harness-master/evals/github-copilot-aggregate.json
  skills/harness-master/evals/github-copilot-cli-global.json
  skills/harness-master/evals/github-copilot-web-project.json
  skills/harness-master/evals/multi-harness-mixed-order.json
  skills/harness-master/evals/perplexity-desktop-both.json
  skills/harness-master/evals/ui-blind-spots-negative.json
  skills/harness-master/evals/unsupported-harness.json
  skills/harness-master/references/evidence-boundaries.md
  skills/harness-master/references/harness-checklists.md
  skills/harness-master/references/harness-surfaces.md
  skills/harness-master/references/install-guidance.md
  skills/harness-master/references/latest-doc-sources.md
  skills/harness-master/references/output-format.md
  skills/harness-master/scripts/discover_surfaces.py
Due: wagents-validate, docs-build-check

feat: add openspec workflow tooling
  .gitignore
  AGENTS.md
  Makefile
  README.md
  agent-bundle.json
  config/opencode-dcp.jsonc
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/openspec-workflow.mdx
  docs/src/content/docs/start-here.mdx
  docs/src/generated-sidebar.mjs
  docs/src/generated-site-data.mjs
  instructions/global.md
  instructions/opencode-global.md
  opencode-setup/INSTALL_MANIFEST.md
  opencode.json
  openspec/changes/.gitkeep
  openspec/config.yaml
  openspec/schemas/agent-asset-change/schema.yaml
  openspec/schemas/agent-asset-change/templates/affected-surfaces.md
  openspec/schemas/agent-asset-change/templates/design.md
  openspec/schemas/agent-asset-change/templates/proposal.md
  openspec/schemas/agent-asset-change/templates/tasks.md
  openspec/schemas/agent-asset-change/templates/validation-matrix.md
  openspec/specs/agent-assets/spec.md
  openspec/specs/downstream-tooling/spec.md
  openspec/specs/spec-workflows/spec.md
  skills/openspec-workflow/SKILL.md
  tests/test_distribution_metadata.py
  tests/test_docs.py
  tests/test_openspec_cli.py
  tests/test_readme.py
  tests/test_site_model.py
  tests/test_sync_agent_stack.py
  wagents/cli.py
  wagents/docs.py
  wagents/openspec.py
  wagents/site_model.py
Due: wagents-validate, docs-build-check

chore(opencode): update plugin guardrails
  AGENTS.md
  docs/src/content/docs/start-here.mdx
  instructions/opencode-global.md
  opencode-integration-plan-extended.md
  opencode-integration-plan.md
  opencode-setup/INSTALL_MANIFEST.md
  opencode.json
  openspec/changes/integrate-opencode-plugins/.openspec.yaml
  openspec/changes/integrate-opencode-plugins/README.md
  openspec/changes/integrate-opencode-plugins/affected-surfaces.md
  openspec/changes/integrate-opencode-plugins/design.md
  openspec/changes/integrate-opencode-plugins/proposal.md
  openspec/changes/integrate-opencode-plugins/specs/downstream-tooling/spec.md
  openspec/changes/integrate-opencode-plugins/tasks.md
  openspec/changes/integrate-opencode-plugins/validation-matrix.md
  tests/test_distribution_metadata.py
Due: docs-build-check

fix(installed-inventory): count queried harness installs
  tests/test_installed_inventory.py
  wagents/installed_inventory.py
Due: none

docs(external-skills): add audited external skill sources
  docs/src/content/docs/external-skills.mdx
  docs/src/generated-sidebar.mjs
  docs/src/generated-site-data.mjs
  instructions/external-skills.md
  openspec/changes/add-audited-external-skills/affected-surfaces.md
  openspec/changes/add-audited-external-skills/design.md
  openspec/changes/add-audited-external-skills/proposal.md
  openspec/changes/add-audited-external-skills/specs/downstream-tooling/spec.md
  openspec/changes/add-audited-external-skills/tasks.md
  openspec/changes/add-audited-external-skills/validation-matrix.md
Due: docs-build-check

fix(opencode): tighten DCP compression nudges
  config/opencode-dcp.jsonc
  docs/plans/2026-05-01-opencode-dcp-tuning.md
  tests/test_sync_agent_stack.py
Due: none

docs(openspec): mark platform overhaul foundation committed
  openspec/changes/agents-platform-overhaul/tasks.md
Due: none

fix(nerdbot): harden ingest and graph contracts
  README.md
  docs/src/content/docs/skills/nerdbot.mdx
  skills/nerdbot/AGENTS.md
  skills/nerdbot/README.md
  skills/nerdbot/SKILL.md
  skills/nerdbot/pyproject.toml
  skills/nerdbot/references/current-state-and-compatibility.md
  skills/nerdbot/references/graph.md
  skills/nerdbot/references/ingestion-adapters.md
  skills/nerdbot/references/kb-operations.md
  skills/nerdbot/references/source-acquisition.md
  skills/nerdbot/src/nerdbot/cli.py
  skills/nerdbot/src/nerdbot/graph.py
  skills/nerdbot/src/nerdbot/sources.py
  skills/nerdbot/src/nerdbot/watch.py
  skills/nerdbot/src/nerdbot/workflows.py
  skills/nerdbot/uv.lock
  tests/test_nerdbot_cli_plan.py
  tests/test_nerdbot_contract_helpers.py
  tests/test_nerdbot_package.py
  tests/test_nerdbot_schema_contracts.py
  tests/test_nerdbot_scripts.py
  tests/test_nerdbot_workflows.py
Due: wagents-validate, docs-build-check

feat(intake): complete external repository intake lane
  openspec/changes/agents-c10-external-repo-intake/affected-surfaces.md
  openspec/changes/agents-c10-external-repo-intake/design.md
  openspec/changes/agents-c10-external-repo-intake/tasks.md
  openspec/changes/agents-c10-external-repo-intake/validation-matrix.md
  planning/15-ecosystem-research/24-external-repo-intake-queue.md
  planning/15-ecosystem-research/25-external-repo-url-reconciliation.md
  planning/manifests/external-repo-evaluation-final.json
  planning/manifests/external-repo-intake-ledger.json
  planning/manifests/external-repo-intake-queue.json
  planning/manifests/external-repo-quarantine-handoff.json
  planning/manifests/external-repo-review-tasks.json
  planning/manifests/external-repo-url-reconciliation.json
Due: none

docs(openspec): complete docs instruction planning lane
  openspec/changes/agents-c08-docs-instructions/affected-surfaces.md
  openspec/changes/agents-c08-docs-instructions/design.md
  openspec/changes/agents-c08-docs-instructions/specs/docs-instructions/spec.md
  openspec/changes/agents-c08-docs-instructions/tasks.md
  openspec/changes/agents-c08-docs-instructions/validation-matrix.md
  planning/65-docs-and-instructions/ai-instruction-sync-plan.md
  planning/65-docs-and-instructions/blind-spot-labeling-requirements.md
  planning/65-docs-and-instructions/docs-artifact-registry-usage.md
  planning/65-docs-and-instructions/docs-truth-surface-rules.md
  planning/65-docs-and-instructions/generated-doc-ownership-plan.md
  planning/65-docs-and-instructions/support-matrix-ownership.md
Due: none

docs(openspec): complete wave 2 planning lanes
  openspec/changes/agents-c05-ux-cli/affected-surfaces.md
  openspec/changes/agents-c05-ux-cli/design.md
  openspec/changes/agents-c05-ux-cli/tasks.md
  openspec/changes/agents-c05-ux-cli/validation-matrix.md
  openspec/changes/agents-c06-config-safety/affected-surfaces.md
  openspec/changes/agents-c06-config-safety/design.md
  openspec/changes/agents-c06-config-safety/tasks.md
  openspec/changes/agents-c06-config-safety/validation-matrix.md
  openspec/changes/agents-c07-ci-evals-observability/affected-surfaces.md
  openspec/changes/agents-c07-ci-evals-observability/design.md
  openspec/changes/agents-c07-ci-evals-observability/tasks.md
  openspec/changes/agents-c07-ci-evals-observability/validation-matrix.md
  openspec/changes/agents-c14-multiagent-ui-patterns/affected-surfaces.md
  openspec/changes/agents-c14-multiagent-ui-patterns/design.md
  openspec/changes/agents-c14-multiagent-ui-patterns/tasks.md
  openspec/changes/agents-c14-multiagent-ui-patterns/validation-matrix.md
  planning/50-config-safety/00-config-transaction-blueprint.md
  planning/60-ci-cd/00-quality-gates.md
  planning/70-evals/00-eval-operating-model.md
  planning/90-ui-ux/00-cli-output-contracts.md
  planning/90-ui-ux/10-multiagent-ui-patterns.md
Due: none

docs(openspec): complete release archive readiness lane
  openspec/changes/agents-c09-release-archive/affected-surfaces.md
  openspec/changes/agents-c09-release-archive/design.md
  openspec/changes/agents-c09-release-archive/tasks.md
  openspec/changes/agents-c09-release-archive/validation-matrix.md
  planning/95-migration/00-phased-rollout-plan.md
  planning/95-migration/10-migration-guide.md
  planning/95-migration/20-rollback-playbook.md
  planning/95-migration/30-release-checklist.md
  planning/95-migration/40-openspec-archive-checklist.md
Due: none

docs(openspec): complete platform readiness evidence
  openspec/changes/agents-c00-repo-sync/affected-surfaces.md
  openspec/changes/agents-c00-repo-sync/design.md
  openspec/changes/agents-c00-repo-sync/validation-matrix.md
  openspec/changes/agents-c01-registry-core/affected-surfaces.md
  openspec/changes/agents-c01-registry-core/design.md
  openspec/changes/agents-c01-registry-core/validation-matrix.md
  openspec/changes/agents-c09-release-archive/affected-surfaces.md
  openspec/changes/agents-c09-release-archive/design.md
  openspec/changes/agents-c09-release-archive/proposal.md
  openspec/changes/agents-c09-release-archive/specs/release-archive/spec.md
  openspec/changes/agents-c09-release-archive/tasks.md
  openspec/changes/agents-c09-release-archive/validation-matrix.md
  planning/95-migration/20-rollback-playbook.md
  planning/95-migration/30-release-checklist.md
  planning/95-migration/40-openspec-archive-checklist.md
  planning/95-migration/50-release-notes.md
  planning/99-task-graph/dispatch/20-release-archive.md
Due: none

docs(intake): track chrome devtools skill manifest
  planning/manifests/repo-drift-ledger.json
  planning/manifests/repo-sync-inventory.json
Due: none

feat(opencode): scope plan review plugin
  .opencode/PLUGINS.md
  AGENTS.md
  instructions/opencode-global.md
  opencode-integration-plan-extended.md
  opencode-integration-plan.md
  opencode-setup/INSTALL_MANIFEST.md
  opencode.json
  openspec/changes/integrate-opencode-plugins/affected-surfaces.md
  openspec/changes/integrate-opencode-plugins/design.md
  openspec/changes/integrate-opencode-plugins/proposal.md
  openspec/changes/integrate-opencode-plugins/specs/downstream-tooling/spec.md
  openspec/changes/integrate-opencode-plugins/tasks.md
  openspec/changes/integrate-opencode-plugins/validation-matrix.md
  tests/test_distribution_metadata.py
Due: none

docs(openspec): refresh workflow documentation
  .github/copilot-instructions.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/openspec-workflow.mdx
  docs/src/content/docs/start-here.mdx
  docs/src/generated-site-data.mjs
  instructions/codex-global.md
  skills/openspec-workflow/SKILL.md
Due: wagents-validate, docs-build-check

Path conditions:
  wagents-validate: any of: ^(skills/|agents/)
  docs-build-check: any of: docs/.*\.(mdx|css|mjs|astro)$
