Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

feat(harness): link media and pentest skills in catalog graph
  skills/research/SKILL.md
  skills/research/references/source-selection.md
  skills/security-scanner/SKILL.md
  skills/security-scanner/references/scope-boundary.md
  tests/test_catalog.py
  wagents/catalog.py
Due: wagents-validate

docs: publish ffmpeg, yt-dlp, pentest, and data-wizard viz catalog
  README.md
  docs/public/generated-registries/skills-catalog-index.json
  docs/src/authoring/skills/data-wizard.mdx
  docs/src/authoring/skills/ffmpeg.mdx
  docs/src/authoring/skills/pentest.mdx
  docs/src/authoring/skills/yt-dlp.mdx
  docs/src/content/docs/skill-research/data-wizard.mdx
  docs/src/content/docs/skill-research/ffmpeg.mdx
  docs/src/content/docs/skill-research/pentest.mdx
  docs/src/content/docs/skill-research/yt-dlp.mdx
  docs/src/content/docs/skills/catalog/custom/data-wizard.mdx
  docs/src/content/docs/skills/catalog/custom/ffmpeg.mdx
  docs/src/content/docs/skills/catalog/custom/index.mdx
  docs/src/content/docs/skills/catalog/custom/pentest.mdx
  docs/src/content/docs/skills/catalog/custom/yt-dlp.mdx
  docs/src/generated-skill-research-index.mjs
  docs/src/skill-research/data-wizard.md
  docs/src/skill-research/ffmpeg.md
  docs/src/skill-research/pentest.md
  docs/src/skill-research/yt-dlp.md
Due: docs-build-check

feat(mcphub): add group parity validation and multi-transport generator
  config/schemas/mcp-registry.schema.json
  scripts/generate_mcphub_settings.py
  scripts/mcphub/group_validation.py
  scripts/mcphub/validate_settings.py
  tests/test_generate_mcphub_settings.py
Due: none

feat(registry): adopt MCPHub v4 groups and native HTTP transports
  config/mcp-registry.json
  mcp/mcphub/mcp_settings.json
Due: none

feat(mcphub): project harness endpoints and harden doctor smoke checks
  scripts/mcphub/doctor.sh
  scripts/mcphub/smoke.sh
  scripts/validate/collectors/mcphub_settings.py
  tests/test_mcphub_endpoints.py
  wagents/mcphub/endpoints.py
Due: none

docs(mcphub): document v4 taxonomy and harness default group
  .cursor/agents/mcp-capability-mapper.md
  .cursor/mcp.json
  .grok/config.toml
  .opencode/agents/mcp-capability-mapper.md
  AGENTS.md
  agents/mcp-capability-mapper.md
  config/codex-config.toml
  docs/ai-tools/mcphub.md
  docs/src/authoring/skills/mcphub-operator.mdx
  docs/src/content/docs/agents/mcp-capability-mapper.mdx
  docs/src/content/docs/harness-config/mcp-registry.mdx
  docs/src/content/docs/harness-config/token-efficacy.mdx
  docs/src/content/docs/mcp/index.mdx
  docs/src/content/docs/mcp/sandbox-profiles.mdx
  docs/src/content/docs/skills/catalog/custom/mcphub-operator.mdx
  instructions/codex-global.md
  mcp.json
  mcp/mcphub/README.md
  openspec/changes/integrate-apm-package-manager/design.md
  openspec/changes/integrate-mcphub-control-plane/design.md
  openspec/changes/integrate-mcphub-control-plane/specs/downstream-tooling/spec.md
  openspec/changes/integrate-mcphub-control-plane/specs/mcp-audit/spec.md
  openspec/changes/token-efficacy-program/design.md
  openspec/specs/cursor-harness/spec.md
  scripts/sync_agent_stack.py
  skills/mcphub-operator/SKILL.md
  skills/mcphub-operator/evals/evals.json
  skills/mcphub-operator/references/group-picker.md
  tests/test_cli_integration.py
  tests/test_grok_doctor_json.py
  tests/test_grok_platform.py
  tests/test_sync_agent_stack.py
  wagents/grok_doctor.py
Due: wagents-validate, docs-build-check

chore(mcp): rename harness-safe sandbox profile to harness-mcp
  mcp/sandbox-profiles/server.py
Due: none

feat(nerdbot): add advanced wiki logics and query source-map provenance
  docs/src/authoring/skills/nerdbot.mdx
  skills/nerdbot/SKILL.md
  skills/nerdbot/evals/advanced-wiki-logics.json
  skills/nerdbot/evals/evals.json
  skills/nerdbot/evals/retrieval-provenance-query.json
  skills/nerdbot/references/advanced-wiki-logics.md
  skills/nerdbot/references/current-state-and-compatibility.md
  skills/nerdbot/references/graph.md
  skills/nerdbot/references/pipeline-contracts.md
  skills/nerdbot/references/retrieval.md
  skills/nerdbot/src/nerdbot/cli.py
  skills/nerdbot/src/nerdbot/contracts.py
  skills/nerdbot/src/nerdbot/evidence.py
  skills/nerdbot/src/nerdbot/workflows.py
  tests/test_nerdbot_contract_helpers.py
  tests/test_nerdbot_package.py
  tests/test_nerdbot_workflows.py
Due: wagents-validate, docs-build-check

chore(skills): generalize install wording in lifecycle maintainer skills
  docs/src/authoring/skills/cross-agent-install-smoke.mdx
  docs/src/authoring/skills/skill-bundle-curator.mdx
  docs/src/authoring/skills/skill-eval-scaffolder.mdx
  docs/src/authoring/skills/skill-install-dry-run-planner.mdx
  docs/src/authoring/skills/skill-lifecycle-manager.mdx
  docs/src/authoring/skills/skill-localization-packager.mdx
  docs/src/authoring/skills/skill-quality-dashboard.mdx
  docs/src/authoring/skills/skill-signing-verifier.mdx
  docs/src/content/docs/skills/catalog/custom/cross-agent-install-smoke.mdx
  docs/src/content/docs/skills/catalog/custom/skill-bundle-curator.mdx
  docs/src/content/docs/skills/catalog/custom/skill-eval-scaffolder.mdx
  docs/src/content/docs/skills/catalog/custom/skill-install-dry-run-planner.mdx
  docs/src/content/docs/skills/catalog/custom/skill-lifecycle-manager.mdx
  docs/src/content/docs/skills/catalog/custom/skill-localization-packager.mdx
  docs/src/content/docs/skills/catalog/custom/skill-quality-dashboard.mdx
  docs/src/content/docs/skills/catalog/custom/skill-signing-verifier.mdx
  skills/cross-agent-install-smoke/SKILL.md
  skills/skill-bundle-curator/SKILL.md
  skills/skill-eval-scaffolder/SKILL.md
  skills/skill-install-dry-run-planner/SKILL.md
  skills/skill-lifecycle-manager/SKILL.md
  skills/skill-localization-packager/SKILL.md
  skills/skill-quality-dashboard/SKILL.md
  skills/skill-signing-verifier/SKILL.md
Due: wagents-validate, docs-build-check

docs: reframe site IA around surfaces, runtimes, and reference hub
  docs/public/generated-reports/docs-graph-snapshot.json
  docs/public/generated-reports/docs-link-check.json
  docs/public/generated-reports/llms-txt-coverage.json
  docs/public/generated-reports/maintainer-ops-dashboard.json
  docs/public/generated-reports/site-graph-insights.json
  docs/public/generated-skill-indexes/install-scripts.json
  docs/src/authoring/skills/research.mdx
  docs/src/authoring/skills/security-scanner.mdx
  docs/src/content/docs/catalog/tooling/index.mdx
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/hooks/index.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/install.mdx
  docs/src/content/docs/reference.mdx
  docs/src/content/docs/reports/docs-graph-snapshot.mdx
  docs/src/content/docs/reports/docs-link-check.mdx
  docs/src/content/docs/reports/llms-txt-coverage.mdx
  docs/src/content/docs/reports/maintainer-ops-dashboard.mdx
  docs/src/content/docs/reports/site-graph-insights.mdx
  docs/src/content/docs/runtimes.mdx
  docs/src/content/docs/skills/catalog/index.mdx
  docs/src/content/docs/surfaces/index.mdx
  docs/src/content/docs/surfaces/instructions.mdx
  docs/src/content/docs/surfaces/tools.mdx
  docs/src/generated-sidebar.mjs
  docs/src/generated-site-data.mjs
  docs/src/styles/20-hero.css
  docs/src/styles/30-cards.css
  docs/src/styles/40-content.css
  docs/src/styles/50-layout-nav.css
  tests/test_docs_compose.py
  tests/test_docs_reports.py
  wagents/docs.py
  wagents/docs_compose_regen_configs.py
  wagents/docs_reports.py
Due: docs-build-check

fix(skills): decouple maintainer dry-run helpers from wagents imports
  skills/mcphub-operator/SKILL.md
  skills/mcphub-operator/scripts/doctor.py
  skills/skill-install-dry-run-planner/scripts/plan_dry_run.py
Due: wagents-validate

test(docs): align index, sidebar, and golden fixtures with IA reframe
  planning/manifests/repo-drift-ledger.json
  planning/manifests/repo-sync-inventory.json
  tests/fixtures/golden/docs/generated-sidebar.mjs
  tests/fixtures/golden/docs/generated-site-data-counts.json
  tests/test_docs.py
  tests/test_golden_docs.py
Due: docs-build-check

feat(docs): document skills cleanup in CLI reference
  docs/src/content/docs/cli.mdx
  wagents/docs.py
Due: docs-build-check

test(harness): stabilize parity checks and cursor hooks inventory
  tests/test_harness_config_docs.py
  tests/test_platform_adapters.py
  tests/test_wagents_self.py
Due: none

docs: refresh catalog indexes, research embed, and maintainer reports
  docs/public/generated-reports/docs-graph-snapshot.json
  docs/public/generated-reports/maintainer-ops-dashboard.json
  docs/public/generated-reports/site-graph-insights.json
  docs/src/content/docs/catalog/agents/index.mdx
  docs/src/content/docs/catalog/mcp/index.mdx
  docs/src/content/docs/catalog/tooling/index.mdx
  docs/src/content/docs/reports/docs-graph-snapshot.mdx
  docs/src/content/docs/reports/maintainer-ops-dashboard.mdx
  docs/src/content/docs/reports/site-graph-insights.mdx
  docs/src/content/docs/skills/catalog/custom/research.mdx
Due: docs-build-check

feat(copilot): add missing canonical agent projection stubs
  platforms/copilot/agents/agent-change-recorder.agent.md
  platforms/copilot/agents/agent-eval-runner.agent.md
  platforms/copilot/agents/agent-permission-simulator.agent.md
  platforms/copilot/agents/agent-registry-publisher.agent.md
  platforms/copilot/agents/agent-transpiler.agent.md
  platforms/copilot/agents/bridge-consistency-checker.agent.md
  platforms/copilot/agents/mcp-capability-mapper.agent.md
  platforms/copilot/agents/mcp-template-maintainer.agent.md
  platforms/copilot/agents/permission-policy-auditor.agent.md
  platforms/copilot/agents/prompt-optimizer.agent.md
  platforms/copilot/agents/skill-author.agent.md
  platforms/copilot/agents/triage-lead.agent.md
Due: none

feat(skills): add trafilatura CLI skill for article extraction
  skills/research/SKILL.md
  skills/research/references/source-selection.md
  skills/research/references/team-templates.md
  skills/trafilatura/SKILL.md
  skills/trafilatura/evals/evals.json
  skills/trafilatura/references/discovery.md
  skills/trafilatura/references/mcp-fallback.md
  skills/trafilatura/references/output-formats.md
  skills/trafilatura/references/politeness-and-ethics.md
  skills/trafilatura/references/troubleshooting.md
  skills/trafilatura/scripts/check.py
  skills/trafilatura/scripts/doctor.py
  skills/trafilatura/scripts/extract_url.py
  skills/trafilatura/scripts/list_urls.py
  tests/test_trafilatura_skill_scripts.py
Due: wagents-validate

feat(mcp): replace package-version with package-version-check-mcp
  .env.mcphub.example
  .grok/config.toml
  config/codex-config.toml
  config/mcp-registry.json
  docs/ai-tools/mcphub.md
  docs/src/authoring/skills/mcphub-operator.mdx
  docs/src/authoring/skills/research.mdx
  kb/raw/sources/mcp-surfaces.md
  kb/wiki/topics/mcp-configuration-and-safety.md
  mcp.json
  mcp/mcphub/mcp_settings.json
  opencode.json
  openspec/changes/replace-package-version-check-mcp/proposal.md
  openspec/changes/replace-package-version-check-mcp/tasks.md
  platforms/chatgpt/dev-harness/gateway/collection.mcp.json
  platforms/chatgpt/dev-harness/gateway/policy.yaml
  scripts/mcphub/doctor.sh
  scripts/mcphub/package-version-check-mcp.sh
  scripts/sync_agent_stack.py
  scripts/validate/collectors/mcphub_settings.py
  skills/mcphub-operator/SKILL.md
  skills/mcphub-operator/references/group-picker.md
  skills/review/references/research-validation.md
  tests/test_package_version_check_mcp_registry.py
  tests/test_sync_agent_stack.py
  wagents/platforms/base.py
Due: wagents-validate, docs-build-check

feat(mcp): add ddgs MCP server to registry and harness groups
  .grok/config.toml
  config/mcp-registry.json
  mcp.json
  mcp/mcphub/mcp_settings.json
  openspec/changes/add-ddgs-mcp/audit/ddgs-provenance.md
  openspec/changes/add-ddgs-mcp/proposal.md
  openspec/changes/add-ddgs-mcp/tasks.md
  openspec/changes/add-ddgs-mcp/validation-matrix.md
Due: none

feat(mcphub): add llms-txt-explorer with bounded harness exposure
  .github/copilot-instructions.md
  .grok/config.toml
  config/mcp-registry.json
  docs/ai-tools/mcphub.md
  docs/src/content/docs/harness-config/mcp-registry.mdx
  instructions/codex-global.md
  instructions/global.md
  kb/raw/sources/mcp-surfaces.md
  mcp.json
  mcp/mcphub/mcp_settings.json
  openspec/changes/add-llms-txt-explorer-mcp/audit-bundle.json
  openspec/changes/add-llms-txt-explorer-mcp/design.md
  openspec/changes/add-llms-txt-explorer-mcp/proposal.md
  openspec/changes/add-llms-txt-explorer-mcp/tasks.md
  openspec/changes/add-llms-txt-explorer-mcp/tools-list.json
  openspec/changes/add-llms-txt-explorer-mcp/validation-matrix.md
  scripts/mcphub/llms-txt-explorer-stdio.sh
  scripts/validate/collectors/mcphub_settings.py
  skills/mcphub-operator/SKILL.md
  skills/mcphub-operator/references/group-picker.md
  tests/test_llms_txt_explorer_registry.py
  tests/test_sync_agent_stack.py
Due: wagents-validate, docs-build-check

chore(mcphub): harden package-version-check-mcp launcher startup
  scripts/mcphub/common.sh
  scripts/mcphub/package-version-check-mcp.sh
Due: none

feat(mcphub): add jupyter-mcp-server with opt-in notebook groups
  .env.mcphub.example
  .github/copilot-instructions.md
  .grok/config.toml
  config/mcp-registry.json
  docs/ai-tools/mcphub.md
  docs/src/authoring/skills/mcphub-operator.mdx
  docs/src/content/docs/harness-config/mcp-registry.mdx
  docs/src/content/docs/mcp/index.mdx
  instructions/codex-global.md
  instructions/global.md
  kb/raw/sources/mcp-surfaces.md
  kb/wiki/topics/mcp-configuration-and-safety.md
  kb/wiki/topics/mcphub-control-plane.md
  mcp.json
  mcp/mcphub/mcp_settings.json
  openspec/changes/add-jupyter-mcp-server/affected-surfaces.md
  openspec/changes/add-jupyter-mcp-server/audit-bundle.json
  openspec/changes/add-jupyter-mcp-server/design.md
  openspec/changes/add-jupyter-mcp-server/proposal.md
  openspec/changes/add-jupyter-mcp-server/specs/mcp-audit/spec.md
  openspec/changes/add-jupyter-mcp-server/tasks.md
  openspec/changes/add-jupyter-mcp-server/tools-list.json
  openspec/changes/add-jupyter-mcp-server/validation-matrix.md
  scripts/mcphub/jupyter-mcp-server-stdio.sh
  skills/mcphub-operator/SKILL.md
  skills/mcphub-operator/references/group-picker.md
  tests/test_jupyter_mcp_server_registry.py
Due: wagents-validate, docs-build-check

feat(mcphub): add scrapling MCP with opt-in scraping groups
  .env.mcphub.example
  .grok/config.toml
  config/mcp-registry.json
  docs/ai-tools/mcphub.md
  docs/src/authoring/skills/mcphub-operator.mdx
  docs/src/content/docs/mcp/index.mdx
  docs/src/content/docs/surfaces/tools.mdx
  kb/raw/sources/mcp-surfaces.md
  kb/wiki/topics/mcp-configuration-and-safety.md
  kb/wiki/topics/mcphub-control-plane.md
  mcp.json
  mcp/mcphub/mcp_settings.json
  openspec/changes/add-scrapling-mcp/affected-surfaces.md
  openspec/changes/add-scrapling-mcp/audit-bundle.json
  openspec/changes/add-scrapling-mcp/design.md
  openspec/changes/add-scrapling-mcp/proposal.md
  openspec/changes/add-scrapling-mcp/specs/mcp-audit/spec.md
  openspec/changes/add-scrapling-mcp/tasks.md
  openspec/changes/add-scrapling-mcp/tools-list.json
  openspec/changes/add-scrapling-mcp/validation-matrix.md
  scripts/mcphub/scrapling-stdio.sh
  skills/mcphub-operator/SKILL.md
  skills/mcphub-operator/references/group-picker.md
  tests/test_scrapling_registry.py
Due: wagents-validate, docs-build-check

fix(agents): add delegation policy SSOT and task materialization
  .opencode/agents/orchestrator.md
  .opencode/agents/triage-lead.md
  config/agent-delegation-policy.json
  config/opencode-agents.json
  config/schemas/agent-delegation-policy.schema.json
  instructions/opencode-agents-overlay.md
  justfile
  scripts/materialize_opencode_task_permissions.py
  tests/test_agent_delegation_policy.py
  tests/test_materialize_opencode_task_permissions.py
Due: none

test(agents): scaffold maintainer agent eval manifests
  evals/agent-eval-runner/evals.json
  evals/agents/agent-change-recorder/evals.json
  evals/agents/agent-eval-runner/evals.json
  evals/agents/agent-permission-simulator/evals.json
  evals/agents/agent-registry-publisher/evals.json
  evals/agents/agent-transpiler/evals.json
  evals/agents/bridge-consistency-checker/evals.json
  evals/agents/mcp-capability-mapper/evals.json
  evals/agents/mcp-template-maintainer/evals.json
  evals/agents/permission-policy-auditor/evals.json
  evals/agents/prompt-optimizer/evals.json
  evals/agents/skill-author/evals.json
  evals/agents/triage-lead/evals.json
  tests/test_agent_eval_manifests.py
Due: none

fix(agents): plan mode for read-only agents and mapper workflow note
  .claude/agents/code-reviewer.md
  .claude/agents/planner.md
  .claude/agents/researcher.md
  .claude/agents/security-auditor.md
  .cursor/agents/mcp-capability-mapper.md
  .opencode/agents/agent-eval-runner.md
  .opencode/agents/mcp-capability-mapper.md
  agents/README.md
  agents/agent-eval-runner.md
  agents/code-reviewer.md
  agents/mcp-capability-mapper.md
  agents/planner.md
  agents/researcher.md
  agents/security-auditor.md
Due: wagents-validate

docs(agents): openspec governance change and MCP mapper template
  docs/src/content/docs/agents/agent-eval-runner.mdx
  docs/src/content/docs/agents/mcp-capability-mapper.mdx
  openspec/changes/remediate-agent-fleet-governance/design.md
  openspec/changes/remediate-agent-fleet-governance/proposal.md
  openspec/changes/remediate-agent-fleet-governance/tasks.md
  openspec/changes/remediate-agent-fleet-governance/validation-matrix.md
  openspec/schemas/mcp-server-change-tasks.md
Due: docs-build-check

chore(mcp): pin ddgs-mcp-server 0.5.1 and close RV docs gaps
  config/mcp-registry.json
  docs/src/content/docs/harness-config/mcp-registry.mdx
  docs/src/content/docs/index.mdx
  docs/src/generated-site-data.mjs
  mcp/mcphub/mcp_settings.json
  openspec/changes/add-ddgs-mcp/tasks.md
  openspec/changes/remediate-rv-mcp/RV-CLOSURE.md
  tests/test_ddgs_registry.py
  tests/test_scrapling_registry.py
Due: docs-build-check

fix(wagents): merge local skill roots and installed supersession
  config/skill-installed-supersession.json
  tests/test_installed_inventory.py
  tests/test_sync_desired_skills.py
  wagents/cli.py
  wagents/installed_inventory.py
Due: none

fix(mcphub): harden package-version runtime and reconcile workflow
  docs/ai-tools/mcphub.md
  justfile
  kb/wiki/topics/mcphub-control-plane.md
  openspec/changes/replace-package-version-check-mcp/upstream-tracking.md
  scripts/mcphub/common.sh
  scripts/mcphub/doctor.sh
  scripts/mcphub/package-version-check-mcp.sh
  scripts/mcphub/reconcile-runtime.sh
Due: none

feat(oc): add OPENCODE_OC_AUTOSTART toggle for bare oc status
  bin/oc
  tests/test_oc_wrapper.py
Due: none

fix(agents): correct agent-eval-runner numbered step sequence
  .cursor/agents/agent-eval-runner.md
  .opencode/agents/agent-eval-runner.md
  agents/agent-eval-runner.md
Due: wagents-validate

docs: refresh maintainer surfaces for skill sync and llms-txt policy
  docs/public/generated-registries/skills-catalog-index.json
  docs/public/generated-reports/docs-graph-snapshot.json
  docs/public/generated-reports/maintainer-ops-dashboard.json
  docs/runbooks/install-smoke.md
  docs/src/content/docs/harness-config/plugin-skill-ownership.mdx
  docs/src/content/docs/reports/docs-graph-snapshot.mdx
  docs/src/content/docs/reports/maintainer-ops-dashboard.mdx
  docs/src/content/docs/skills/catalog/custom/mcphub-operator.mdx
  openspec/changes/add-llms-txt-explorer-mcp/proposal.md
  openspec/changes/add-llms-txt-explorer-mcp/specs/mcp-audit/spec.md
Due: docs-build-check

test(wagents): cast sync report agents for ty check
  tests/test_sync_desired_skills.py
Due: none

docs(openspec): record runtime open-websearch tools/list evidence
  openspec/changes/add-open-websearch-mcp-skill/audit-bundle.json
  openspec/changes/add-open-websearch-mcp-skill/tasks.md
  openspec/changes/add-open-websearch-mcp-skill/tools-list.json
Due: none

chore(openspec): mark open-websearch atomic commit wave complete
  openspec/changes/add-open-websearch-mcp-skill/tasks.md
Due: none

feat(mcphub): emit stable group ids and preserve bearer keys
  mcp/mcphub/mcp_settings.json
  scripts/generate_mcphub_settings.py
  scripts/mcphub/common.sh
  scripts/mcphub/launch-agent-run.sh
  scripts/mcphub/reconcile-runtime.sh
  scripts/mcphub/validate_settings.py
  tests/test_generate_mcphub_settings.py
Due: none

docs(openspec): record scrapling runtime tools/list evidence
  openspec/changes/add-scrapling-mcp/audit-bundle.json
  openspec/changes/add-scrapling-mcp/tools-list.json
  openspec/changes/add-scrapling-mcp/validation-matrix.md
Due: none

fix(mcp): set context7 owner in registry
  config/mcp-registry.json
Due: none
