Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

wagents-validate:
  name: Validate skills and agents
  entry: uv run wagents validate
  language: system
  pass_filenames: false

docs-build-check:
  name: Verify docs build
  entry: pnpm --dir docs build
  language: system
  pass_filenames: false

fix(honest-review): harden runtime paths and state contract
  README.md
  docs/src/content/docs/skills/honest-review.mdx
  skills/honest-review/SKILL.md
  skills/honest-review/evals/empty-no-diff-menu.json
  skills/honest-review/evals/post-review-fix-pass.json
  skills/honest-review/references/ci-integration.md
  skills/honest-review/references/dependency-context.md
  skills/honest-review/references/judge-protocol.md
  skills/honest-review/references/output-formats.md
  skills/honest-review/references/sarif-output.md
  skills/honest-review/references/triage-protocol.md
  skills/honest-review/scripts/learnings-store.py
  skills/honest-review/scripts/project-scanner.py
  skills/honest-review/scripts/review-store.py
  tests/test_honest_review_scripts.py
Due: wagents-validate, docs-build-check

fix(research): harden evidence and journal contracts
  docs/src/content/docs/skills/research.mdx
  skills/research/SKILL.md
  skills/research/evals/test-cases.yaml
  skills/research/references/dashboard-schema.md
  skills/research/references/source-selection.md
  skills/research/references/team-templates.md
  skills/research/scripts/finding-formatter.py
  skills/research/scripts/journal-store.py
  skills/research/scripts/research-scanner.py
  skills/research/scripts/source-deduplicator.py
  skills/research/scripts/verify.py
  tests/test_research_scripts.py
Due: wagents-validate, docs-build-check

fix: remove codex legacy agent limits
  config/codex-config.toml
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

feat: harden host-panel deliberation protocol
  README.md
  docs/src/content/docs/skills/host-panel.mdx
  skills/host-panel/SKILL.md
  skills/host-panel/evals/evals.json
  skills/host-panel/evals/oxford-format.json
  skills/host-panel/evals/roundtable-format.json
  skills/host-panel/evals/socratic-format.json
  skills/host-panel/references/archetypes.md
  skills/host-panel/references/debate-research.md
  skills/host-panel/references/formats.md
  skills/host-panel/references/moderator-rules.md
  skills/host-panel/references/research-integrity.md
  skills/host-panel/references/synthesis.md
  skills/host-panel/references/topic-diagnostic.md
  skills/host-panel/scripts/parse_args.py
Due: wagents-validate, docs-build-check

docs: sync host-panel skill index
  docs/src/content/docs/skills/index.mdx
Due: docs-build-check

feat(skill-creator): align audit scoring contract
  docs/src/content/docs/skills/incident-response-engineer.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/skill-creator.mdx
  skills/skill-creator/SKILL.md
  skills/skill-creator/evals/evals.json
  skills/skill-creator/references/audit-guide.md
  skills/skill-creator/references/evaluation-rubric.md
  skills/skill-creator/references/workflow.md
  skills/skill-creator/scripts/audit.py
  skills/skill-creator/templates/dashboard.html
  tests/test_skill_creator_audit.py
Due: wagents-validate, docs-build-check

fix: lower codex default reasoning effort
  config/codex-config.toml
  config/tooling-policy.json
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

chore: sync codex defaults with app mode
  config/codex-config.toml
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

feat(python-conventions): harden tooling contract
  README.md
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/javascript-conventions.mdx
  docs/src/content/docs/skills/learn.mdx
  docs/src/content/docs/skills/python-conventions.mdx
  docs/src/content/docs/skills/shell-conventions.mdx
  skills/python-conventions/SKILL.md
  skills/python-conventions/evals/evals.json
  skills/python-conventions/references/exceptions.md
  skills/python-conventions/references/library-preferences.md
  skills/python-conventions/references/performance-tips.md
  skills/python-conventions/references/redirection-boundaries.md
  skills/python-conventions/references/testing-patterns.md
  skills/python-conventions/references/tooling-contract.md
Due: wagents-validate, docs-build-check

fix(ci): satisfy ruff lint gates
  tests/test_honest_review_scripts.py
  tests/test_nerdbot_scripts.py
  tests/test_research_scripts.py
  tests/test_sync_agent_stack.py
  wagents/cli.py
  wagents/docs.py
Due: none

refactor: harden javascript conventions skill
  README.md
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/javascript-conventions.mdx
  skills/javascript-conventions/SKILL.md
  skills/javascript-conventions/evals/auto-invoke-trigger.json
  skills/javascript-conventions/evals/evals.json
  skills/javascript-conventions/evals/tooling-guidance.json
  skills/javascript-conventions/references/edge-cases.md
  skills/javascript-conventions/references/eslint-prettier.md
  skills/javascript-conventions/references/redirection-boundaries.md
  skills/javascript-conventions/references/tooling-contract.md
  skills/javascript-conventions/references/typescript-patterns.md
Due: wagents-validate, docs-build-check

docs: add logo and social preview
  README.md
  docs/public/social-card.png
  docs/src/assets/logo.webp
  docs/src/components/starlight/Head.astro
  wagents/cli.py
Due: docs-build-check

chore: sync skill catalog and instructions
  .github/copilot-instructions.md
  .gitignore
  README.md
  docs/src/content/docs/external-skills.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/agent-runtime-governance.mdx
  docs/src/content/docs/skills/external-skill-auditor.mdx
  docs/src/content/docs/skills/frontend-designer.mdx
  docs/src/content/docs/skills/i18n-localization.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/learn.mdx
  docs/src/content/docs/skills/shell-conventions.mdx
  docs/src/generated-sidebar.mjs
  instructions/codex-global.md
  instructions/external-skills.md
  instructions/global.md
  skills/agent-runtime-governance/SKILL.md
  skills/agent-runtime-governance/evals/evals.json
  skills/agent-runtime-governance/references/control-matrix.md
  skills/agent-runtime-governance/references/rollout-governance.md
  skills/external-skill-auditor/SKILL.md
  skills/external-skill-auditor/evals/evals.json
  skills/external-skill-auditor/references/import-checklist.md
  skills/external-skill-auditor/scripts/audit_external_skill.py
  skills/frontend-designer/SKILL.md
  skills/frontend-designer/evals/evals.json
  skills/frontend-designer/references/modern-css.md
  skills/frontend-designer/references/react-19.md
  skills/frontend-designer/references/shadcn-patterns.md
  skills/frontend-designer/references/tailwind-v4.md
  skills/frontend-designer/references/vite-config.md
  skills/frontend-designer/scripts/scan_frontend.py
  skills/i18n-localization/SKILL.md
  skills/i18n-localization/evals/evals.json
  skills/i18n-localization/references/localization-checklist.md
  tests/test_frontend_designer_scan.py
  wagents/docs.py
Due: wagents-validate, docs-build-check

feat: add cross-agent plugin bundle metadata
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .codex-plugin/plugin.json
  .gitignore
  AGENTS.md
  Makefile
  README.md
  agent-bundle.json
  agents/.gitkeep
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/start-here.mdx
  tests/test_cli_integration.py
  tests/test_distribution_metadata.py
  wagents/cli.py
  wagents/docs.py
Due: wagents-validate, docs-build-check

style: format frontend designer scan test
  tests/test_frontend_designer_scan.py
Due: none

fix: add doctor version warnings
  docs/src/content/docs/cli.mdx
  tests/test_cli_integration.py
  wagents/cli.py
Due: docs-build-check

feat(skills): add on-demand skill router
  README.md
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/skill-router.mdx
  docs/src/generated-sidebar.mjs
  skills/skill-router/SKILL.md
  skills/skill-router/evals/evals.json
  skills/skill-router/references/routing-guide.md
  tests/test_docs.py
  tests/test_readme.py
  tests/test_skill_index.py
  wagents/cli.py
  wagents/docs.py
  wagents/skill_index.py
Due: wagents-validate, docs-build-check

fix(skills): satisfy CI for skill router
  tests/test_skill_index.py
  wagents/cli.py
  wagents/docs.py
Due: none

fix: centralize local mcp installs
  .gitignore
  config/codex-config.toml
  config/mcp-registry.json
  mcp.json
  mcp/.gitignore
  mcp/README.md
  scripts/mcp_tools/check_installed_mcps.sh
  scripts/mcp_tools/clean_installed_mcps.sh
  scripts/mcp_tools/run_mcp_thinking.sh
  scripts/mcp_tools/update_installed_mcps.sh
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

Path conditions:
  wagents-validate: any of: ^(skills/|agents/)
  docs-build-check: any of: docs/.*\.(mdx|css|mjs|astro)$
