Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

refactor(catalog): drop runtime skill fold filtering
  docs/src/authoring/skills/accessibility.mdx
  docs/src/authoring/skills/baseline-ui.mdx
  docs/src/authoring/skills/building-native-ui.mdx
  docs/src/authoring/skills/ckm:*.mdx
  docs/src/authoring/skills/design-agent.mdx
  docs/src/authoring/skills/design-doc-mermaid.mdx
  docs/src/authoring/skills/design-md.mdx
  docs/src/authoring/skills/design-task.mdx
  docs/src/authoring/skills/design-taste-frontend.mdx
  docs/src/authoring/skills/emil-design-eng.mdx
  docs/src/authoring/skills/extract-design-system.mdx
  docs/src/authoring/skills/figma-code-connect.mdx
  docs/src/authoring/skills/figma-generate-design.mdx
  docs/src/authoring/skills/figma-implement-design.mdx
  docs/src/authoring/skills/fixing-accessibility.mdx
  docs/src/authoring/skills/fixing-metadata.mdx
  docs/src/authoring/skills/impeccable.mdx
  docs/src/authoring/skills/react:components.mdx
  docs/src/authoring/skills/shadcn.mdx
  docs/src/authoring/skills/shieldcn-badges.mdx
  docs/src/authoring/skills/sleek-design-mobile-apps.mdx
  docs/src/authoring/skills/stitch-loop.mdx
  docs/src/authoring/skills/stitch::generate-design.mdx
  docs/src/authoring/skills/tailwind-design-system.mdx
  docs/src/authoring/skills/ui-ux-pro-max.mdx
  docs/src/authoring/skills/web-design-guidelines.mdx
  scripts/migrate_external_skills_to_authoring_mdx.py
  tests/test_external_skills.py
  tests/test_migrate_external_skills.py
  tests/test_skill_index.py
  wagents/authoring_sync.py
  wagents/catalog.py
  wagents/cli.py
  wagents/external_skills.py
  wagents/skill_index.py
Due: docs-build-check

fix(hooks): accept cross-harness hook event aliases
  skills/skill-creator/scripts/asset_toolkit/common.py
  tests/test_hooks_cli.py
  wagents/parsing.py
Due: wagents-validate

feat(cursor): add first-class Cursor harness support
  .cursor/BUGBOT.md
  .cursor/agents/code-reviewer.md
  .cursor/agents/docs-writer.md
  .cursor/agents/orchestrator.md
  .cursor/agents/performance-profiler.md
  .cursor/agents/planner.md
  .cursor/agents/release-manager.md
  .cursor/agents/researcher.md
  .cursor/agents/security-auditor.md
  .cursor/cli.json
  .cursor/hooks.json
  .cursor/mcp.json
  .cursor/permissions.json
  .cursor/rules/claude-code.mdc
  .cursor/rules/codex.mdc
  .cursor/rules/copilot.mdc
  .cursor/rules/gemini-cli.mdc
  .cursor/rules/global.mdc
  .cursor/rules/grok.mdc
  .cursor/rules/opencode-agents-overlay.mdc
  .cursor/rules/opencode.mdc
  config/cursor-agents.json
  config/schemas/cursor-agents.schema.json
  openspec/changes/add-first-class-cursor-support/affected-surfaces.md
  openspec/changes/add-first-class-cursor-support/design.md
  openspec/changes/add-first-class-cursor-support/proposal.md
  openspec/changes/add-first-class-cursor-support/specs/cursor-harness/spec.md
  openspec/changes/add-first-class-cursor-support/tasks.md
  openspec/changes/add-first-class-cursor-support/validation-matrix.md
  wagents/platforms/cursor.py
Due: none

feat(apm): integrate APM package manager
  .apm/agents/code-reviewer.agent.md
  .apm/agents/docs-writer.agent.md
  .apm/agents/orchestrator.agent.md
  .apm/agents/performance-profiler.agent.md
  .apm/agents/planner.agent.md
  .apm/agents/release-manager.agent.md
  .apm/agents/researcher.agent.md
  .apm/agents/security-auditor.agent.md
  .apm/hooks/claude-code.json
  .apm/hooks/cursor.json
  .apm/hooks/github-copilot.json
  .apm/instructions/claude-code.instructions.md
  .apm/instructions/codex.instructions.md
  .apm/instructions/copilot.instructions.md
  .apm/instructions/gemini-cli.instructions.md
  .apm/instructions/global.instructions.md
  .apm/instructions/grok.instructions.md
  .apm/instructions/opencode-agents-overlay.instructions.md
  .apm/instructions/opencode.instructions.md
  apm.lock.yaml
  apm.yml
  openspec/changes/integrate-apm-package-manager/affected-surfaces.md
  openspec/changes/integrate-apm-package-manager/audit/external-deps-bridge.md
  openspec/changes/integrate-apm-package-manager/audit/sync-manifest-apm-planning-note.md
  openspec/changes/integrate-apm-package-manager/audit/sync-manifest-overlap.md
  openspec/changes/integrate-apm-package-manager/audit/sync-shrink-candidates.md
  openspec/changes/integrate-apm-package-manager/audit/validation-evidence.md
  openspec/changes/integrate-apm-package-manager/audit/wave1-target-spikes.md
  openspec/changes/integrate-apm-package-manager/design.md
  openspec/changes/integrate-apm-package-manager/proposal.md
  openspec/changes/integrate-apm-package-manager/specs/agent-assets/spec.md
  openspec/changes/integrate-apm-package-manager/specs/downstream-tooling/spec.md
  openspec/changes/integrate-apm-package-manager/specs/ux-cli/spec.md
  openspec/changes/integrate-apm-package-manager/tasks.md
  openspec/changes/integrate-apm-package-manager/validation-matrix.md
  wagents/apm.py
Due: none

docs(repo): refresh README and agent bundle manifest
  .gitignore
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  SECURITY.md
  START-HERE.md
  agent-bundle.json
Due: none

refactor(apm): remove unused MCP fragment materialize helpers
  tests/test_apm_materialize.py
  wagents/apm.py
  wagents/cli.py
Due: none

fix(apm): drop unsupported antigravity deploy target
  apm.yml
Due: none

feat(catalog): distinguish pip CLI tools from slash skills in rendering
  tests/test_rendering.py
  wagents/rendering.py
  wagents/site_model.py
  wagents/skill_index.py
Due: none

fix(doctor): clarify APM surface warnings in self doctor
  wagents/self_cmd.py
Due: none

chore(ci): dedupe APM validation and narrow pre-commit doctor hook
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

docs(openspec): align integrate-apm-package-manager proposal with implementation
  openspec/changes/integrate-apm-package-manager/proposal.md
Due: none

feat(skills): clarify design skill Chrome DevTools proof boundaries
  openspec/changes/upgrade-design-skill/affected-surfaces.md
  openspec/changes/upgrade-design-skill/design.md
  openspec/changes/upgrade-design-skill/proposal.md
  openspec/changes/upgrade-design-skill/specs/agent-assets/spec.md
  openspec/changes/upgrade-design-skill/specs/docs-instructions/spec.md
  openspec/changes/upgrade-design-skill/specs/downstream-tooling/spec.md
  openspec/changes/upgrade-design-skill/specs/registry-core/spec.md
  openspec/changes/upgrade-design-skill/tasks.md
  openspec/changes/upgrade-design-skill/validation-matrix.md
  skills/design/evals/evals.json
Due: wagents-validate

feat(skills): add skill-assets lens to review skill
  docs/src/authoring/skills/review.mdx
  skills/review/SKILL.md
  skills/review/evals/evals.json
  skills/review/references/checklists.md
  skills/review/references/skill-asset-review.md
  skills/review/references/specialist-lenses.md
Due: wagents-validate, docs-build-check

docs(catalog): refresh generated indexes and apm-cli catalog page
  README.md
  docs/public/generated-registries/skills-catalog-index.json
  docs/public/generated-skill-indexes/install-scripts.json
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/catalog/external/apm-cli.mdx
  docs/src/content/docs/skills/catalog/index.mdx
  docs/src/generated-sidebar.mjs
  docs/src/generated-site-data.mjs
Due: docs-build-check

docs(skills): regenerate design catalog pages and retire frontend-designer
  docs/src/content/docs/skill-research/design.mdx
  docs/src/content/docs/skill-research/frontend-designer.mdx
  docs/src/content/docs/skills/catalog/custom/design.mdx
  docs/src/content/docs/skills/catalog/custom/frontend-designer.mdx
  docs/src/content/docs/skills/catalog/custom/index.mdx
  docs/src/skill-research/design.md
Due: docs-build-check

docs(skills): regenerate review catalog page for skill-assets lens
  docs/src/content/docs/skills/catalog/custom/review.mdx
Due: docs-build-check

fix(docs): repair skill-research links and sidebar maintainer pages
  wagents/docs.py
Due: none

docs: clarify nested README indexes and change artifacts
  mcp/README.md
  openspec/changes/integrate-opencode-plugins/README.md
  planning/README.md
  skills/opencode-ensemble/README.md
  wagents/platforms/README.md
Due: wagents-validate

chore(docs): regenerate skill-research pages and sidebar
  docs/src/content/docs/skill-research/accessibility.mdx
  docs/src/content/docs/skill-research/baseline-ui.mdx
  docs/src/content/docs/skill-research/building-native-ui.mdx
  docs/src/content/docs/skill-research/design-agent.mdx
  docs/src/content/docs/skill-research/design-doc-mermaid.mdx
  docs/src/content/docs/skill-research/design-md.mdx
  docs/src/content/docs/skill-research/design-task.mdx
  docs/src/content/docs/skill-research/design-taste-frontend.mdx
  docs/src/content/docs/skill-research/emil-design-eng.mdx
  docs/src/content/docs/skill-research/extract-design-system.mdx
  docs/src/content/docs/skill-research/figma-code-connect.mdx
  docs/src/content/docs/skill-research/figma-generate-design.mdx
  docs/src/content/docs/skill-research/figma-implement-design.mdx
  docs/src/content/docs/skill-research/fixing-accessibility.mdx
  docs/src/content/docs/skill-research/fixing-metadata.mdx
  docs/src/content/docs/skill-research/frontend-designer.mdx
  docs/src/content/docs/skill-research/impeccable.mdx
  docs/src/content/docs/skill-research/shadcn.mdx
  docs/src/content/docs/skill-research/shieldcn-badges.mdx
  docs/src/content/docs/skill-research/sleek-design-mobile-apps.mdx
  docs/src/content/docs/skill-research/stitch-loop.mdx
  docs/src/content/docs/skill-research/tailwind-design-system.mdx
  docs/src/content/docs/skill-research/ui-ux-pro-max.mdx
  docs/src/content/docs/skill-research/web-design-guidelines.mdx
  docs/src/generated-sidebar.mjs
Due: docs-build-check

feat(apm): materialize path-scoped Claude rules into APM instructions
  .apm/instructions/agent-standards.instructions.md
  .apm/instructions/docs-verify.instructions.md
  .apm/instructions/python-quality.instructions.md
  .apm/instructions/skill-accuracy.instructions.md
  .apm/instructions/skill-integrity.instructions.md
  .apm/instructions/skill-validation.instructions.md
  tests/test_apm_materialize.py
  wagents/apm.py
Due: none

fix(docs): align catalog index schema with emitted bundle shape
  config/schemas/skills-catalog-index.schema.json
  tests/test_skills_catalog_schemas.py
Due: none

style(instructions): add trailing newline to gemini-cli-global
  instructions/gemini-cli-global.md
Due: none

docs(agents): document instruction surfaces and harness routing
  AGENTS.md
  CLAUDE.md
Due: none

feat(readme): clarify MCP scope, CI badge, and supported agents
  README.md
  wagents/cli.py
Due: none

chore(sync): refresh harness instruction projections
  .cursor/agents/code-reviewer.md
  .cursor/agents/docs-writer.md
  .cursor/agents/orchestrator.md
  .cursor/agents/performance-profiler.md
  .cursor/agents/planner.md
  .cursor/agents/release-manager.md
  .cursor/agents/researcher.md
  .cursor/agents/security-auditor.md
  .cursor/hooks.json
  .github/instructions/claude-code.instructions.md
  .github/instructions/codex.instructions.md
  .github/instructions/copilot.instructions.md
  .github/instructions/gemini-cli.instructions.md
  .github/instructions/global.instructions.md
  .github/instructions/grok.instructions.md
  .github/instructions/opencode-agents-overlay.instructions.md
  .github/instructions/opencode.instructions.md
Due: none

feat: add research skill eval manifest
  skills/research/evals/evals.json
Due: wagents-validate

docs(kb): maximal enrichment batch for agents repo operating KB
  kb/activity/log.md
  kb/indexes/coverage.md
  kb/indexes/glossary.md
  kb/indexes/repo-map.md
  kb/indexes/source-map.md
  kb/raw/captures/local-inventory-summary.md
  kb/raw/sources/ci-release-workflows-source.md
  kb/raw/sources/mcphub-control-plane-source.md
  kb/raw/sources/openspec-active-lifecycle-source.md
  kb/raw/sources/scripts-validation-tooling-source.md
  kb/raw/sources/skills-catalog-authoring-lifecycle-source.md
  kb/raw/sources/wagents-platform-adapters-source.md
  kb/wiki/index.md
  kb/wiki/topics/agent-publication-and-drift-coverage.md
  kb/wiki/topics/ci-and-release-workflows.md
  kb/wiki/topics/curated-catalog-authoring.md
  kb/wiki/topics/docs-generation-and-site.md
  kb/wiki/topics/harness-fixture-gaps.md
  kb/wiki/topics/known-risks-and-open-gaps.md
  kb/wiki/topics/mcphub-control-plane.md
  kb/wiki/topics/nerdbot.md
  kb/wiki/topics/obsidian-vault-conventions.md
  kb/wiki/topics/openspec-change-archive-status.md
  kb/wiki/topics/scripts-and-validation-tooling.md
  kb/wiki/topics/skill-catalog-risk-and-eval-coverage.md
  kb/wiki/topics/sync-transaction-safety.md
  kb/wiki/topics/wagents-platform-adapters.md
Due: none

fix: Phase 4 drift fixes for docs, hooks, plugins, and OpenSpec CLI
  .codex-plugin/plugin.json
  config/docs-artifact-registry.json
  docs/src/content/docs/hooks/cursor-destructive-shell-guard.mdx
  docs/src/content/docs/hooks/cursor-post-tool-verify-context.mdx
  docs/src/content/docs/hooks/cursor-protected-file-guard.mdx
  docs/src/content/docs/hooks/cursor-session-start-context.mdx
  docs/src/content/docs/hooks/cursor-stop-truth-gate.mdx
  docs/src/content/docs/mcp/index.mdx
  planning/manifests/docs-composed-coverage.json
  skills/openspec-workflow/scripts/openspec_cli.py
  tests/test_distribution_metadata.py
  tests/test_docs.py
  tests/test_openspec_cli.py
  wagents/docs.py
Due: wagents-validate, docs-build-check

fix(docs): resolve docs generate check flag in direct invocations
  wagents/docs.py
Due: none

style: apply ruff format to drifted Python sources
  skills/grok-delegate/scripts/check.py
  skills/grok-delegate/scripts/parse_grok_json.py
  tests/test_grok_doctor_json.py
  wagents/external_skills.py
  wagents/grok_doctor.py
  wagents/self_cmd.py
Due: wagents-validate

fix(skills): make grok-delegate and harness-master packaging portable
  skills/grok-delegate/SKILL.md
  skills/grok-delegate/evals/evals.json
  skills/grok-delegate/evals/negative-control-skills-sync.json
  skills/grok-delegate/references/agent-map.md
  skills/grok-delegate/references/safety-permissions.md
  skills/grok-delegate/scripts/preflight.sh
  skills/harness-master/SKILL.md
Due: wagents-validate
