Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

wagents-validate:
  name: Validate skills and agents
  entry: uv run wagents validate
  language: system
  pass_filenames: false

docs-build-check:
  name: Verify docs build
  entry: pnpm --dir docs build
  language: system
  pass_filenames: false

Add frontend-designer skill with 5 modes, 8 references, and enhanced docs
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/frontend-designer.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-sidebar.mjs
  skills/frontend-designer/SKILL.md
  skills/frontend-designer/evals/audit-mode.json
  skills/frontend-designer/evals/component-creation.json
  skills/frontend-designer/evals/component-mode.json
  skills/frontend-designer/evals/page-design.json
  skills/frontend-designer/evals/refactor-mode.json
  skills/frontend-designer/evals/scaffold-mode.json
  skills/frontend-designer/evals/scope-refusal.json
  skills/frontend-designer/evals/theme-mode.json
  skills/frontend-designer/references/aesthetic-guide.md
  skills/frontend-designer/references/anti-patterns.md
  skills/frontend-designer/references/modern-css.md
  skills/frontend-designer/references/react-19.md
  skills/frontend-designer/references/shadcn-patterns.md
  skills/frontend-designer/references/tailwind-v4.md
  skills/frontend-designer/references/typography.md
  skills/frontend-designer/references/vite-config.md
Due: wagents-validate, docs-build-check

Harden honest-review v4.0 with 12 review fixes and regenerate docs
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/installed.mdx
  docs/src/generated-sidebar.mjs
  skills/honest-review/SKILL.md
  skills/honest-review/references/output-formats.md
  skills/honest-review/scripts/finding-formatter.py
Due: wagents-validate, docs-build-check

Gitignore test artifacts, update gmail MCP server, and fix lint
  .gitignore
  mcp.json
  wagents/docs.py
  wagents/rendering.py
Due: none

Add email-whiz v3.0.0 skill with 12 modes and regenerate docs
  .gitignore
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/email-whiz.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/installed.mdx
  docs/src/generated-sidebar.mjs
  skills/email-whiz/CHANGELOG.md
  skills/email-whiz/SKILL.md
  skills/email-whiz/evals/dispatch-routing.md
  skills/email-whiz/references/analytics-guide.md
  skills/email-whiz/references/filter-patterns.md
  skills/email-whiz/references/inbox-zero-system.md
  skills/email-whiz/references/templates.md
  skills/email-whiz/references/tool-reference.md
  skills/email-whiz/references/triage-framework.md
  skills/email-whiz/references/workflows.md
  skills/email-whiz/scripts/inbox_snapshot.py
  skills/email-whiz/scripts/validate-skill.sh
Due: wagents-validate, docs-build-check

Evolve honest-review to v5.0 with 7 research-driven improvements and regenerate docs
  docs/src/content/docs/skills/honest-review.mdx
  skills/honest-review/SKILL.md
  skills/honest-review/evals/agentic-verification.json
  skills/honest-review/evals/conventional-comments.json
  skills/honest-review/evals/dependency-context.json
  skills/honest-review/evals/finding-quality-validation.json
  skills/honest-review/evals/learnings-loop.json
  skills/honest-review/evals/multi-pass-review.json
  skills/honest-review/evals/reasoning-chain.json
  skills/honest-review/evals/self-verification.json
  skills/honest-review/evals/session-review.json
  skills/honest-review/references/checklists.md
  skills/honest-review/references/ci-integration.md
  skills/honest-review/references/conventional-comments.md
  skills/honest-review/references/dependency-context.md
  skills/honest-review/references/judge-protocol.md
  skills/honest-review/references/output-formats.md
  skills/honest-review/references/research-playbook.md
  skills/honest-review/references/self-verification.md
  skills/honest-review/references/supply-chain-security.md
  skills/honest-review/references/team-templates.md
  skills/honest-review/references/triage-protocol.md
  skills/honest-review/scripts/finding-formatter.py
  skills/honest-review/scripts/learnings-store.py
  skills/honest-review/scripts/project-scanner.py
  skills/honest-review/scripts/review-store.py
Due: wagents-validate, docs-build-check

Fix CI failures: pnpm version, hardcoded path, and lint errors
  docs/package.json
  tests/docs_ui/screenshot_smoke.py
  tests/test_catalog.py
  tests/test_cli_integration.py
  tests/test_progress.py
Due: none

Fix remaining CI failures: pnpm config path and ruff format
  .github/workflows/ci.yml
  tests/docs_ui/screenshot_smoke.py
  tests/test_eval_cli.py
  tests/test_hooks_cli.py
  tests/test_package.py
  tests/test_progress.py
  wagents/cli.py
  wagents/docs.py
  wagents/rendering.py
Due: none

Rewrite orchestration core for maximum parallelism with team+nested waves default
  instructions/global.md
  skills/orchestrator/SKILL.md
  skills/orchestrator/evals/pattern-selection.json
  skills/orchestrator/evals/tier-classification.json
  skills/orchestrator/references/patterns.md
Due: wagents-validate

Add research skill v1.0 with 17 files and fix mcp.json security issues
  README.md
  mcp.json
  skills/research/SKILL.md
  skills/research/evals/test-cases.yaml
  skills/research/references/bias-detection.md
  skills/research/references/confidence-rubric.md
  skills/research/references/contradiction-protocol.md
  skills/research/references/dashboard-schema.md
  skills/research/references/evidence-chain.md
  skills/research/references/output-formats.md
  skills/research/references/self-verification.md
  skills/research/references/session-commands.md
  skills/research/references/source-selection.md
  skills/research/references/team-templates.md
  skills/research/scripts/finding-formatter.py
  skills/research/scripts/journal-store.py
  skills/research/scripts/research-scanner.py
  skills/research/scripts/source-deduplicator.py
  skills/research/templates/dashboard.html
Due: wagents-validate

Enforce max-efficiency orchestration: Pattern E default, no caps, ~50 agents
  docs/src/content/docs/skills/orchestrator.mdx
  instructions/global.md
  skills/orchestrator/SKILL.md
  skills/orchestrator/evals/decomposition-gate.json
  skills/orchestrator/evals/pattern-selection.json
  skills/orchestrator/evals/tier-classification.json
  skills/orchestrator/references/patterns.md
Due: wagents-validate, docs-build-check

Overhaul honest-review v5.0: content-adaptive teams, two-tier evidence, Pattern E fixes
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/research.mdx
  docs/src/generated-sidebar.mjs
  skills/honest-review/SKILL.md
  skills/honest-review/references/auto-fix-protocol.md
  skills/honest-review/references/checklists.md
  skills/honest-review/references/research-playbook.md
  skills/honest-review/references/self-verification.md
  skills/honest-review/references/team-templates.md
  skills/honest-review/references/triage-protocol.md
Due: wagents-validate, docs-build-check

Add Clarification Gate to global instructions
  AGENTS.md
  docs/src/content/docs/skills/research.mdx
  instructions/global.md
Due: docs-build-check

Rename duckduckgo MCP server to duckduckgo-search across configs and docs
  docs/src/content/docs/mcp/index.mdx
  docs/src/content/docs/skills/research.mdx
  mcp.json
  skills/research/SKILL.md
  skills/research/references/self-verification.md
  skills/research/references/source-selection.md
  skills/research/references/team-templates.md
Due: wagents-validate, docs-build-check

Add prospector skill v1.0.0: microSaaS opportunity discovery engine
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/prospector.mdx
  docs/src/content/docs/skills/research.mdx
  docs/src/generated-sidebar.mjs
  skills/prospector/SKILL.md
  skills/prospector/evals/test-cases.yaml
  skills/prospector/references/data-sources.md
  skills/prospector/references/discovery-pipeline.md
  skills/prospector/references/expert-panel.md
  skills/prospector/references/output-formats.md
  skills/prospector/references/triage-system.md
  skills/prospector/scripts/db-store.py
  skills/prospector/scripts/signal-scanner.py
  skills/prospector/scripts/triage-validator.py
  skills/prospector/templates/dashboard.html
  skills/prospector/webapp/app.py
  skills/prospector/webapp/index.html
  skills/prospector/webapp/pyproject.toml
Due: wagents-validate, docs-build-check

Fix MDX parse error: escape angle brackets in TabItem tables
  docs/src/content/docs/skills/prospector.mdx
Due: docs-build-check

Fix MDX build: escape angle brackets in rendering pipeline TabItem tables
  .gitignore
  docs/src/content/docs/skills/email-whiz.mdx
  docs/src/content/docs/skills/frontend-designer.mdx
  docs/src/content/docs/skills/research.mdx
  docs/src/content/docs/skills/skill-creator.mdx
  wagents/rendering.py
Due: docs-build-check

chore: commit current changes
  AGENTS.md
  COPILOT.md
  mcp.json
  prospector-detail-fix.jpeg
  prospector-detail-opp0003.jpeg
  prospector-pipeline.jpeg
  skills/orchestrator/SKILL.md
  skills/prospector/webapp/frontend/src/components/EvidenceList.tsx
  skills/prospector/webapp/pyproject.toml
Due: wagents-validate

feat: add docs-steward skill and generated docs page
  docs/src/content/docs/skills/docs-steward.mdx
  skills/docs-steward/SKILL.md
  skills/docs-steward/evals/auto-dependency-version-trigger.json
  skills/docs-steward/evals/autosync-headless-multiframe-safety.json
  skills/docs-steward/evals/autosync-structure-config-trigger.json
  skills/docs-steward/evals/enhance-advanced-components.json
  skills/docs-steward/evals/explicit-auto.json
  skills/docs-steward/evals/explicit-init-route.json
  skills/docs-steward/evals/explicit-init-sync.json
  skills/docs-steward/evals/explicit-maintain-route.json
  skills/docs-steward/evals/explicit-matrix-route.json
  skills/docs-steward/evals/explicit-sync-route.json
  skills/docs-steward/evals/framework-route.json
  skills/docs-steward/evals/headless-ambiguous-routing.json
  skills/docs-steward/evals/implicit-init-sync-existing-codebase.json
  skills/docs-steward/evals/implicit-trigger.json
  skills/docs-steward/evals/malformed-migrate-syntax.json
  skills/docs-steward/evals/migrate-mode.json
  skills/docs-steward/evals/multi-framework-prompt.json
  skills/docs-steward/evals/negative-control.json
  skills/docs-steward/evals/research-refresh.json
  skills/docs-steward/evals/unknown-framework-input.json
  skills/docs-steward/references/advanced-components.md
  skills/docs-steward/references/astro-starlight.md
  skills/docs-steward/references/docusaurus.md
  skills/docs-steward/references/framework-detection.md
  skills/docs-steward/references/fumadocs.md
  skills/docs-steward/references/init-sync-existing-repos.md
  skills/docs-steward/references/migrations.md
  skills/docs-steward/references/mkdocs.md
  skills/docs-steward/references/sphinx.md
  skills/docs-steward/references/version-refresh.md
Due: wagents-validate, docs-build-check

Path conditions:
  wagents-validate: any of: ^(skills/|agents/)
  docs-build-check: any of: docs/.*\.(mdx|css|mjs|astro)$
