Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

wagents-validate:
  name: Validate skills and agents
  entry: uv run wagents validate
  language: system
  pass_filenames: false

docs-build-check:
  name: Verify docs build
  entry: pnpm --dir docs build
  language: system
  pass_filenames: false

fix: bound copilot cli defaults
  .github/copilot-instructions.md
  config/sync-manifest.json
  config/tooling-policy.json
  instructions/copilot-global.md
  scripts/sync_agent_stack.py
  skills/harness-master/references/harness-checklists.md
  skills/harness-master/references/harness-surfaces.md
  skills/harness-master/scripts/discover_surfaces.py
  tests/test_sync_agent_stack.py
Due: wagents-validate

fix: restore uncapped copilot defaults
  .github/copilot-instructions.md
  config/tooling-policy.json
  instructions/copilot-global.md
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

feat: add opencode model defaults, tui notification fix, and project config surface
  README.md
  config/sync-manifest.json
  config/tooling-policy.json
  instructions/opencode-global.md
  opencode.json
Due: none

fix: remove chrome-devtools isolated flag to enable persistent profile and suppress automation detection
  config/mcp-registry.json
Due: none

feat: add recursive opencode model sync, tui config merge, cherry studio config, and project opencode.json generation
  scripts/sync_agent_stack.py
Due: none

docs: update harness-master surfaces, checklists, and discovery for cherry-studio and opencode
  skills/harness-master/SKILL.md
  skills/harness-master/references/harness-checklists.md
  skills/harness-master/references/harness-surfaces.md
  skills/harness-master/scripts/discover_surfaces.py
Due: wagents-validate

test: add opencode model sync, tui config, cherry studio, and chrome devtools tests
  tests/test_sync_agent_stack.py
Due: none

refactor: apply honest-review fixes to sync_agent_stack
  scripts/sync_agent_stack.py
Due: none

fix: prefer verified-install-command on curated name collision
  tests/test_installed_inventory.py
  wagents/installed_inventory.py
Due: none

fix: targeted sync compares against full cross-harness inventory
  tests/test_cli_integration.py
  wagents/cli.py
Due: none

feat: add opencode agent definitions with opencode-go/kimi-k2.6 model
  agents/.gitkeep
  agents/code-reviewer.md
  agents/docs-writer.md
  agents/orchestrator.md
  agents/performance-profiler.md
  agents/planner.md
  agents/release-manager.md
  agents/researcher.md
  agents/security-auditor.md
Due: wagents-validate

feat: install 7 opencode plugins
  .opencode/command/context.md
  .opencode/plugin/context-usage.ts
  .opencode/plugin/tokenizer-aliases.json
  .opencode/plugin/tokenizer-registry.d.ts
  .opencode/plugin/tokenizer-registry.mjs
  opencode.json
Due: none

fix: pin plugin versions, harden canvas permission, document manual installs
  .opencode/PLUGINS.md
  opencode.json
Due: none

fix: tolerate missing copilot settings file
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

fix: correct opencode plugin install model
  .opencode/PLUGINS.md
  .opencode/plugin/background-agents.ts
  opencode.json
Due: none

docs: publish bundled agent metadata
  README.md
  agents/code-reviewer.md
  agents/docs-writer.md
  agents/orchestrator.md
  agents/performance-profiler.md
  agents/planner.md
  agents/release-manager.md
  agents/researcher.md
  agents/security-auditor.md
  docs/src/content/docs/agents/code-reviewer.mdx
  docs/src/content/docs/agents/docs-writer.mdx
  docs/src/content/docs/agents/index.mdx
  docs/src/content/docs/agents/orchestrator.mdx
  docs/src/content/docs/agents/performance-profiler.mdx
  docs/src/content/docs/agents/planner.mdx
  docs/src/content/docs/agents/release-manager.mdx
  docs/src/content/docs/agents/researcher.mdx
  docs/src/content/docs/agents/security-auditor.mdx
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/index.mdx
  docs/src/generated-sidebar.mjs
  docs/src/generated-site-data.mjs
Due: wagents-validate, docs-build-check

feat(docs-steward): improve skill coverage and validation
  skills/docs-steward/SKILL.md
  skills/docs-steward/evals/evals.json
  skills/docs-steward/references/advanced-components.md
  skills/docs-steward/references/generate-mode.md
Due: wagents-validate

fix(opencode): keep managed agents model-neutral
  AGENTS.md
  README.md
  agents/code-reviewer.md
  agents/docs-writer.md
  agents/orchestrator.md
  agents/performance-profiler.md
  agents/planner.md
  agents/release-manager.md
  agents/researcher.md
  agents/security-auditor.md
  config/mcp-registry.json
  config/opencode-dcp.jsonc
  config/sync-manifest.json
  config/tooling-policy.json
  docs/src/content/docs/agents/code-reviewer.mdx
  docs/src/content/docs/agents/docs-writer.mdx
  docs/src/content/docs/agents/orchestrator.mdx
  docs/src/content/docs/agents/performance-profiler.mdx
  docs/src/content/docs/agents/planner.mdx
  docs/src/content/docs/agents/release-manager.mdx
  docs/src/content/docs/agents/researcher.mdx
  docs/src/content/docs/agents/security-auditor.mdx
  docs/src/content/docs/skills/docs-steward.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-site-data.mjs
  instructions/opencode-global.md
  mcp.json
  opencode-integration-plan-extended.md
  opencode-integration-plan.md
  opencode-setup/INSTALL_MANIFEST.md
  opencode.json
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
  wagents/platforms/cursor.py
  wagents/platforms/opencode.py
  wagents/platforms/vscode.py
Due: wagents-validate, docs-build-check

feat(files-buddy): expand macos storage cleanup workflow
  README.md
  docs/src/content/docs/skills/files-buddy.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-site-data.mjs
  skills/files-buddy/SKILL.md
  skills/files-buddy/evals/evals.json
  skills/files-buddy/references/cloud-drives.md
  skills/files-buddy/references/dashboard-app.md
  skills/files-buddy/references/dependency-impact.md
  skills/files-buddy/references/duplicate-detection.md
  skills/files-buddy/references/macos-storage-map.md
  skills/files-buddy/references/offload-recommendations.md
  skills/files-buddy/references/progress-reporting.md
  skills/files-buddy/references/scan-performance.md
  skills/files-buddy/references/tool-integrations.md
  skills/files-buddy/scripts/dashboard-renderer.py
  skills/files-buddy/templates/dashboard.html
Due: wagents-validate, docs-build-check

Path conditions:
  wagents-validate: any of: ^(skills/|agents/)
  docs-build-check: any of: docs/.*\.(mdx|css|mjs|astro)$
