Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

wagents-validate:
  name: Validate skills and agents
  entry: uv run wagents validate
  language: system
  pass_filenames: false

docs-build-check:
  name: Verify docs build
  entry: pnpm --dir docs build
  language: system
  pass_filenames: false

chore(ci): harden workflows and add local workflow guardrails
  .github/actions/setup-uv/action.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release-skills.yml
  .pre-commit-config.yaml
  Makefile
  skills/devops-engineer/scripts/workflow-analyzer.py
  tests/test_github_workflows.py
Due: wagents-validate

docs(kb): sync CI workflow hardening and guardrail notes
  kb/raw/sources/ci-release-workflows-source.md
  kb/wiki/topics/ci-and-release-workflows.md
Due: none

fix: compose remaining skill scaffolds and reconcile Copilot agent corpus
  docs/src/content/docs/skills/catalog/custom/add-badges.mdx
  docs/src/content/docs/skills/catalog/custom/chrome-devtools-a11y-debugging.mdx
  docs/src/content/docs/skills/catalog/custom/chrome-devtools-cli.mdx
  docs/src/content/docs/skills/catalog/custom/chrome-devtools-debug-optimize-lcp.mdx
  docs/src/content/docs/skills/catalog/custom/chrome-devtools-memory-leak-debugging.mdx
  docs/src/content/docs/skills/catalog/custom/chrome-devtools-troubleshooting.mdx
  docs/src/content/docs/skills/catalog/custom/chrome-devtools.mdx
  docs/src/content/docs/skills/catalog/custom/design.mdx
  docs/src/content/docs/skills/catalog/custom/grok-delegate.mdx
  docs/src/content/docs/skills/catalog/custom/review.mdx
  docs/src/content/docs/skills/catalog/external/apm-cli.mdx
  planning/manifests/docs-composed-coverage.json
  platforms/copilot/agents/README.md
  platforms/copilot/agents/docs-writer.agent.md
  platforms/copilot/agents/orchestrator.agent.md
  platforms/copilot/agents/performance-profiler.agent.md
  platforms/copilot/agents/release-manager.agent.md
  tests/test_copilot_agents.py
Due: docs-build-check

feat(catalog): add audit metadata plumbing and catalog audit CLI
  config/schemas/skills-catalog-authoring.schema.json
  config/schemas/skills-catalog-index.schema.json
  openspec/changes/harden-skill-catalog-quality/proposal.md
  openspec/changes/harden-skill-catalog-quality/specs/docs-instructions/spec.md
  openspec/changes/harden-skill-catalog-quality/specs/security-quarantine/spec.md
  openspec/changes/harden-skill-catalog-quality/specs/skills-lifecycle/spec.md
  openspec/changes/harden-skill-catalog-quality/tasks.md
  planning/manifests/security-quarantine-register.json
  scripts/validate/collectors/quarantine.py
  skills/research/scripts/check.py
  tests/test_catalog_audit.py
  tests/test_catalog_rows.py
  tests/test_cli_integration.py
  tests/test_installed_inventory.py
  tests/test_research_check.py
  tests/test_site_model.py
  tests/test_skill_index.py
  tests/test_skills_catalog_schemas.py
  tests/test_validate_repo.py
  wagents/catalog_audit.py
  wagents/catalog_rows.py
  wagents/cli.py
  wagents/docs.py
  wagents/external_skills.py
  wagents/installed_inventory.py
  wagents/rendering.py
  wagents/site_model.py
  wagents/skill_index.py
  wagents/skill_research.py
Due: wagents-validate

docs: refresh catalog surfaces and add progressive external browser
  docs/astro.config.mjs
  docs/public/generated-registries/skills-catalog-index.json
  docs/src/authoring/skills/grok-delegate.mdx
  docs/src/authoring/skills/harness-master.mdx
  docs/src/components/CatalogBrowser.astro
  docs/src/components/SkillPageHeader.astro
  docs/src/components/SkipLink.astro
  docs/src/components/starlight/Head.astro
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/contributing.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skill-research/research.mdx
  docs/src/content/docs/skills/catalog/custom/mcp-creator.mdx
  docs/src/content/docs/skills/catalog/custom/orchestrator.mdx
  docs/src/content/docs/skills/catalog/custom/research.mdx
  docs/src/content/docs/skills/catalog/external/index.mdx
  docs/src/content/docs/skills/install.mdx
  docs/src/generated-sidebar.mjs
  docs/src/generated-site-data.mjs
  docs/src/generated-skill-research-index.mjs
  docs/src/skill-research/research.md
  docs/src/styles/70-a11y.css
Due: docs-build-check

chore(ci): enforce docs generate --check and fail on docs lint
  .github/workflows/ci.yml
Due: none

test(docs): cover catalog browser threshold and generate --check paths
  openspec/changes/add-grok-delegate-skill/specs/downstream-tooling/spec.md
  tests/test_docs.py
Due: none

fix(validate): harden quarantine register parsing and sync KB status
  kb/activity/log.md
  kb/wiki/topics/agent-publication-and-drift-coverage.md
  kb/wiki/topics/known-risks-and-open-gaps.md
  openspec/changes/harden-skill-catalog-quality/specs/security-quarantine/spec.md
  scripts/validate/collectors/quarantine.py
  tests/test_validate_repo.py
Due: none

refactor(docs): centralize clipboard copy and drop unused React shells
  docs/src/components/InstallCommand.astro
  docs/src/components/InstallCommand.tsx
  docs/src/components/InstallScripts.astro
  docs/src/components/SkillPageHeader.astro
  docs/src/components/SkillTopology.tsx
  docs/src/components/starlight/Footer.astro
  docs/src/components/starlight/Head.astro
  docs/src/components/ui/button.tsx
  docs/src/scripts/copy-to-clipboard.ts
  skills/research/SKILL.md
Due: wagents-validate, docs-build-check

docs: link harness support surfaces and guard MCP badge freshness
  README.md
  config/docs-artifact-registry.json
  docs/public/generated-registries/skills-catalog-index.json
  docs/src/authoring/skills/research.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/catalog/custom/index.mdx
  docs/src/content/docs/skills/catalog/external/index.mdx
  docs/src/content/docs/skills/catalog/index.mdx
  docs/src/generated-site-data.mjs
  tests/test_docs.py
  wagents/docs.py
  wagents/site_model.py
Due: docs-build-check

docs(kb): record OpenSpec archive hygiene for completed changes
  kb/activity/log.md
  kb/wiki/topics/openspec-change-archive-status.md
Due: none

test(skills): add eval manifests for 27 high-risk and convention skills
  skills/agent-conventions/evals/evals.json
  skills/api-designer/evals/evals.json
  skills/changelog-writer/evals/evals.json
  skills/chrome-devtools-a11y-debugging/evals/evals.json
  skills/chrome-devtools-cli/evals/evals.json
  skills/chrome-devtools-debug-optimize-lcp/evals/evals.json
  skills/chrome-devtools-memory-leak-debugging/evals/evals.json
  skills/chrome-devtools-troubleshooting/evals/evals.json
  skills/chrome-devtools/evals/evals.json
  skills/data-wizard/evals/evals.json
  skills/database-architect/evals/evals.json
  skills/devops-engineer/evals/evals.json
  skills/email-whiz/evals/evals.json
  skills/git-workflow/evals/evals.json
  skills/infrastructure-coder/evals/evals.json
  skills/learn/evals/evals.json
  skills/mcp-creator/evals/evals.json
  skills/namer/evals/evals.json
  skills/opencode-ensemble/evals/evals.json
  skills/openspec-workflow/evals/evals.json
  skills/performance-profiler/evals/evals.json
  skills/reasoning-router/evals/evals.json
  skills/security-scanner/evals/evals.json
  skills/shell-scripter/evals/evals.json
  skills/tech-debt-analyzer/evals/evals.json
  skills/test-architect/evals/evals.json
  skills/wargame/evals/evals.json
Due: wagents-validate

test(sync): add executable harness rollback fixtures and update manifest
  config/schemas/docs-artifact-registry.schema.json
  planning/manifests/harness-fixture-support.json
  tests/test_harness_rollback_fixtures.py
Due: none

chore(openspec): archive completed harden-skill-catalog and grok-delegate changes
  openspec/changes/archive/2026-06-24-add-grok-delegate-skill/design.md
  openspec/changes/archive/2026-06-24-add-grok-delegate-skill/proposal.md
  openspec/changes/archive/2026-06-24-add-grok-delegate-skill/specs/downstream-tooling/spec.md
  openspec/changes/archive/2026-06-24-add-grok-delegate-skill/tasks.md
  openspec/changes/archive/2026-06-24-add-grok-delegate-skill/validation-matrix.md
  openspec/changes/archive/2026-06-24-harden-skill-catalog-quality/proposal.md
  openspec/changes/archive/2026-06-24-harden-skill-catalog-quality/specs/docs-instructions/spec.md
  openspec/changes/archive/2026-06-24-harden-skill-catalog-quality/specs/security-quarantine/spec.md
  openspec/changes/archive/2026-06-24-harden-skill-catalog-quality/specs/skills-lifecycle/spec.md
  openspec/changes/archive/2026-06-24-harden-skill-catalog-quality/tasks.md
  openspec/specs/docs-instructions/spec.md
  openspec/specs/downstream-tooling/spec.md
  openspec/specs/security-quarantine/spec.md
  openspec/specs/skills-lifecycle/spec.md
Due: none

docs(kb): sync eval coverage, rollback fixtures, and archive status
  kb/activity/log.md
  kb/wiki/topics/harness-fixture-gaps.md
  kb/wiki/topics/known-risks-and-open-gaps.md
  kb/wiki/topics/skill-catalog-risk-and-eval-coverage.md
Due: none

test(sync): promote plan-only harness fixtures with executable merge tests
  planning/manifests/harness-fixture-support.json
  tests/test_harness_plan_fixtures.py
Due: none

fix(docs): rename CLI see-also section for lint compliance
  docs/src/content/docs/cli.mdx
  tests/test_docs.py
  wagents/docs.py
Due: docs-build-check

chore(docs): regenerate harness support page and site data
  docs/src/content/docs/harness-support.mdx
  docs/src/generated-site-data.mjs
Due: docs-build-check

fix(docs): correct copy-to-clipboard import path in Head
  docs/src/components/starlight/Head.astro
Due: docs-build-check

feat(eval): add structural eval adequacy reporting command
  tests/test_eval_adequacy.py
  wagents/cli.py
  wagents/eval_adequacy.py
Due: none

chore(docs): refresh design skill verbosity baseline
  skills/nerdbot/uv.lock
Due: wagents-validate

fix(eval): prefer id-based E3 bucket classification
  wagents/eval_adequacy.py
Due: none

test(eval): patch get_repo_root in adequacy fixtures
  tests/test_eval_adequacy.py
Due: none

refactor(cli): tidy eval adequacy command wiring
  wagents/cli.py
Due: none

style(eval): satisfy ruff in E3/E4 adequacy detectors
  wagents/eval_adequacy.py
Due: none

style(test): shorten eval adequacy fixtures for ruff E501
  tests/test_eval_adequacy.py
Due: none

chore(openspec): archive stabilize-opencode-gpt55-tui change
  openspec/changes/archive/2026-06-24-stabilize-opencode-gpt55-tui/proposal.md
  openspec/changes/archive/2026-06-24-stabilize-opencode-gpt55-tui/specs/downstream-tooling/spec.md
  openspec/changes/archive/2026-06-24-stabilize-opencode-gpt55-tui/tasks.md
Due: none

chore(openspec): archive 23 completed active changes
  kb/activity/log.md
  kb/wiki/topics/openspec-change-archive-status.md
Due: none

feat(grok): harden policy, global LSP sync, and doctor checks
  config/grok-config.toml
  config/grok-lsp.json
  config/harness-surface-registry.json
  config/sync-manifest.json
  instructions/grok-global.md
  planning/manifests/repo-drift-ledger.json
  planning/manifests/repo-sync-inventory.json
  tests/test_grok_doctor_json.py
  tests/test_grok_platform.py
  wagents/grok_doctor.py
  wagents/platforms/grok.py
Due: none

feat(harness): promote cursor fixtures and tighten eval risk scanning
  config/harness-surface-registry.json
  docs/src/content/docs/harness-support.mdx
  kb/activity/log.md
  kb/wiki/topics/harness-fixture-gaps.md
  kb/wiki/topics/skill-catalog-risk-and-eval-coverage.md
  planning/manifests/harness-fixture-support.json
  tests/test_distribution_metadata.py
  tests/test_docs.py
  tests/test_eval_adequacy.py
  tests/test_harness_plan_fixtures.py
  wagents/docs.py
  wagents/eval_adequacy.py
Due: docs-build-check

feat(harness): align hook-surface tiers and enforce parity checks
  config/hook-surface-registry.json
  scripts/check_hook_discovery_parity.py
  skills/harness-master/scripts/discovery/parity_check.py
  tests/test_discovery_parity_check.py
  tests/test_distribution_metadata.py
Due: wagents-validate

test(harness): deepen cursor plan fixtures and manifest honesty
  tests/test_harness_plan_fixtures.py
Due: none

test(harness): prove cursor and grok rollback fixture behavior
  planning/manifests/harness-fixture-support.json
  tests/test_harness_rollback_fixtures.py
Due: none

docs(kb): record harness fixture rollback honesty updates
  kb/activity/log.md
  kb/wiki/topics/harness-fixture-gaps.md
Due: none

docs(harness): document validated rollback coverage bar
  docs/src/content/docs/harness-support.mdx
  tests/test_docs.py
  wagents/docs.py
Due: docs-build-check

test(harness): gate manifest rollback pytest selectors
  tests/test_harness_validation_commands.py
Due: none

Path conditions:
  wagents-validate: any of: ^(skills/|agents/)
  docs-build-check: any of: docs/.*\.(mdx|css|mjs|astro)$
