Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

feat: add reasoning-router skill with classifier, tests, and docs
  AGENTS.md
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/installed.mdx
  docs/src/content/docs/skills/reasoning-router.mdx
  docs/src/generated-sidebar.mjs
  skills/reasoning-router/SKILL.md
  skills/reasoning-router/references/capability-map.md
  skills/reasoning-router/references/composition-patterns.md
  skills/reasoning-router/references/routing-matrix.md
  skills/reasoning-router/references/stall-detection.md
  skills/reasoning-router/scripts/problem-classifier.py
  tests/test_problem_classifier.py
Due: wagents-validate, docs-build-check

feat: email-whiz v4.0.1 — fix all honest-review findings
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/email-whiz.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/installed.mdx
  docs/src/generated-sidebar.mjs
  instructions/global.md
  skills/email-whiz/CHANGELOG.md
  skills/email-whiz/SKILL.md
  skills/email-whiz/evals/dispatch-routing.md
  skills/email-whiz/references/analytics-guide.md
  skills/email-whiz/references/efficiency-guide.md
  skills/email-whiz/references/filter-patterns.md
  skills/email-whiz/references/inbox-zero-system.md
  skills/email-whiz/references/templates.md
  skills/email-whiz/references/tool-reference.md
  skills/email-whiz/references/triage-framework.md
  skills/email-whiz/references/workflows.md
  skills/email-whiz/scripts/inbox_snapshot.py
  skills/email-whiz/tests/test_inbox_snapshot.py
Due: wagents-validate, docs-build-check

feat: email-whiz v5.0 — auto-scan, no-delete-by-default, orchestration patterns
  docs/src/content/docs/skills/email-whiz.mdx
  skills/email-whiz/CHANGELOG.md
  skills/email-whiz/SKILL.md
  skills/email-whiz/evals/dispatch-routing.md
  skills/email-whiz/references/efficiency-guide.md
  skills/email-whiz/references/filter-patterns.md
  skills/email-whiz/references/inbox-zero-system.md
  skills/email-whiz/references/templates.md
  skills/email-whiz/references/tool-reference.md
  skills/email-whiz/references/triage-framework.md
  skills/email-whiz/references/workflows.md
Due: wagents-validate, docs-build-check

chore: add docs-steward post-change rule and wire global.md into CLAUDE.md
  CLAUDE.md
  instructions/global.md
Due: none

chore: wire @instructions/global.md into AGENTS.md for all agent readers
  AGENTS.md
Due: none

chore: use absolute paths for global.md imports; rename COPILOT.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  instructions/claude-code-global.md
Due: none

chore: remove spurious session exports and prospector mockup images
  2026-03-02-054649-this-session-is-being-continued-from-a-previous-co.txt
  prospector-detail-fix.jpeg
  prospector-detail-opp0003.jpeg
  prospector-pipeline.jpeg
Due: none

feat: email-whiz v5.1 — long-term user memory system
  skills/email-whiz/CHANGELOG.md
  skills/email-whiz/SKILL.md
  skills/email-whiz/evals/dispatch-routing.md
  skills/email-whiz/references/templates.md
  skills/email-whiz/references/triage-framework.md
  skills/email-whiz/scripts/constants.py
  skills/email-whiz/scripts/inbox_snapshot.py
  skills/email-whiz/scripts/memory.py
  skills/email-whiz/tests/test_memory.py
Due: wagents-validate

feat: namer skill with structured output dashboard
  .claude/rules/skill-accuracy.md
  AGENTS.md
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/namer.mdx
  docs/src/generated-sidebar.mjs
  instructions/global.md
  pyproject.toml
  skills/namer/SKILL.md
  skills/namer/evals/availability-failure.json
  skills/namer/evals/check-mode.json
  skills/namer/evals/compare-mode.json
  skills/namer/evals/context-presets.json
  skills/namer/evals/expand-mode.json
  skills/namer/evals/explicit-invocation.json
  skills/namer/evals/implicit-trigger.json
  skills/namer/evals/negative-control.json
  skills/namer/evals/thorough-mode.json
  skills/namer/references/naming-strategies.md
  skills/namer/references/output-formats.md
  skills/namer/references/platform-checks.md
  skills/namer/references/scoring-rubric.md
  skills/namer/scripts/check.py
  skills/namer/scripts/generate.py
  skills/namer/scripts/score.py
  skills/namer/templates/dashboard.html
  uv.lock
Due: wagents-validate, docs-build-check

feat(namer): add long-term memory system for naming preference learning
  skills/namer/SKILL.md
  skills/namer/evals/memory-integration.json
  skills/namer/evals/negative-control.json
  skills/namer/references/output-formats.md
  skills/namer/scripts/memory.py
  skills/namer/templates/dashboard.html
Due: wagents-validate

feat: discover-skills — systematic skill discovery with Pattern E orchestration
  docs/src/content/docs/skills/discover-skills.mdx
  skills/discover-skills/SKILL.md
  skills/discover-skills/references/gap-analysis.md
  skills/discover-skills/references/output-formats.md
  skills/discover-skills/references/research-queries.md
  skills/discover-skills/references/team-templates.md
  skills/discover-skills/scripts/journal-store.py
Due: wagents-validate, docs-build-check

fix(discover-skills): address all honest-review findings (17 fixes)
  skills/discover-skills/SKILL.md
  skills/discover-skills/references/research-queries.md
  skills/discover-skills/scripts/journal-store.py
  tests/test_discover_journal_store.py
Due: wagents-validate

feat(wagents): add structured cli output and deterministic docs generation
  docs/src/content/docs/cli.mdx
  tests/test_catalog.py
  tests/test_cli_integration.py
  tests/test_docs.py
  tests/test_eval_cli.py
  tests/test_hooks_cli.py
  tests/test_readme.py
  wagents/catalog.py
  wagents/cli.py
  wagents/docs.py
Due: docs-build-check

feat(skills): add architecture and operations skills
  docs/src/content/docs/skills/add-badges.mdx
  docs/src/content/docs/skills/data-pipeline-architect.mdx
  docs/src/content/docs/skills/discover-skills.mdx
  docs/src/content/docs/skills/email-whiz.mdx
  docs/src/content/docs/skills/event-driven-architect.mdx
  docs/src/content/docs/skills/honest-review.mdx
  docs/src/content/docs/skills/host-panel.mdx
  docs/src/content/docs/skills/incident-response-engineer.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/installed.mdx
  docs/src/content/docs/skills/mcp-creator.mdx
  docs/src/content/docs/skills/namer.mdx
  docs/src/content/docs/skills/observability-advisor.mdx
  docs/src/content/docs/skills/orchestrator.mdx
  docs/src/content/docs/skills/prompt-engineer.mdx
  docs/src/content/docs/skills/release-pipeline-architect.mdx
  docs/src/content/docs/skills/schema-evolution-planner.mdx
  docs/src/content/docs/skills/shell-conventions.mdx
  docs/src/content/docs/skills/wargame.mdx
  docs/src/generated-sidebar.mjs
  skills/data-pipeline-architect/SKILL.md
  skills/event-driven-architect/SKILL.md
  skills/incident-response-engineer/SKILL.md
  skills/observability-advisor/SKILL.md
  skills/release-pipeline-architect/SKILL.md
  skills/schema-evolution-planner/SKILL.md
  skills/shell-conventions/SKILL.md
Due: wagents-validate, docs-build-check

feat(docs): add docs site branding and admin shell
  .claude/skills/docs-steward/scripts/health-check.py
  .nvmrc
  README.md
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/public/favicon.svg
  docs/src/assets/logo.webp
  docs/src/components/admin/AdminLayout.astro
  docs/src/components/starlight/Footer.astro
  docs/src/components/starlight/Head.astro
  docs/src/content/docs/index.mdx
  docs/src/content/docs/mcp/index.mdx
  docs/src/env.d.ts
  docs/src/lib/admin/auth.ts
  docs/src/lib/admin/config.ts
  docs/src/lib/admin/csrf.ts
  docs/src/lib/admin/flags.ts
  docs/src/lib/admin/format.ts
  docs/src/lib/admin/http.ts
  docs/src/lib/admin/posthog.ts
  docs/src/lib/admin/telemetry.ts
  docs/src/middleware.ts
  docs/src/pages/admin/events.astro
  docs/src/pages/admin/flags.astro
  docs/src/pages/admin/index.astro
  docs/src/pages/admin/login.astro
  docs/src/pages/admin/security.astro
  docs/src/pages/api/admin/flags.ts
  docs/src/pages/api/admin/login.ts
  docs/src/pages/api/admin/logout.ts
  docs/src/styles/20-hero.css
  docs/src/styles/30-cards.css
  docs/src/styles/40-content.css
  docs/src/styles/60-motion.css
  docs/src/styles/80-admin.css
Due: docs-build-check

feat(sync): add global-first cross-agent sync stack
  .github/copilot-instructions.md
  .github/hooks/policy.json
  .github/instructions/agent-standards.instructions.md
  .github/instructions/docs-verify.instructions.md
  .github/instructions/python-quality.instructions.md
  .github/instructions/skill-accuracy.instructions.md
  .github/instructions/skill-integrity.instructions.md
  .github/instructions/skill-validation.instructions.md
  AGENTS.md
  config/mcp-registry.json
  config/sync-manifest.json
  config/tooling-policy.json
  hooks/auto-format.sh
  hooks/guard-destructive.sh
  hooks/lint-check.sh
  hooks/log-prompt.sh
  hooks/notify.sh
  hooks/protect-files.sh
  hooks/session-start.sh
  hooks/task-completed-gate.sh
  hooks/teammate-idle-gate.sh
  hooks/verify-before-stop.sh
  instructions/claude-code-global.md
  mcp.json
  platforms/copilot/agents/code-reviewer.agent.md
  platforms/copilot/agents/codebase-oracle.agent.md
  platforms/copilot/agents/dependency-checker.agent.md
  platforms/copilot/agents/documenter.agent.md
  platforms/copilot/agents/git-workflow.agent.md
  platforms/copilot/agents/perf-profiler.agent.md
  platforms/copilot/agents/planner.agent.md
  platforms/copilot/agents/researcher.agent.md
  platforms/copilot/agents/security-auditor.agent.md
  platforms/copilot/agents/spec-writer.agent.md
  platforms/copilot/agents/test-writer.agent.md
  scripts/check_agent_stack.py
  scripts/sync_agent_stack.py
Due: none

fix(ci): restore broken checks after docs and sync updates
  .github/workflows/ci.yml
  docs/src/components/starlight/Head.astro
  docs/src/lib/admin/auth.ts
  docs/src/lib/admin/compare.ts
  docs/src/lib/admin/csrf.ts
  docs/src/lib/admin/posthog.ts
  tests/test_cli_integration.py
  tests/test_discover_journal_store.py
  tests/test_problem_classifier.py
  wagents/cli.py
  wagents/docs.py
Due: docs-build-check

feat(skills): add performance, testing, and TypeScript conventions
  docs/src/content/docs/skills/honest-review.mdx
  skills/javascript-conventions/SKILL.md
  skills/javascript-conventions/references/typescript-patterns.md
  skills/python-conventions/SKILL.md
  skills/python-conventions/references/performance-tips.md
  skills/python-conventions/references/testing-patterns.md
Due: wagents-validate, docs-build-check

docs: sync AGENTS.md and docs pages after convention skill updates
  AGENTS.md
  docs/src/content/docs/skills/javascript-conventions.mdx
  docs/src/content/docs/skills/python-conventions.mdx
Due: docs-build-check
