Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

chore(sync): refresh harness manifests and agent stack sync
  AGENTS.md
  README.md
  agent-bundle.json
  config/codex-config.toml
  config/external-skills.md
  config/harness-surface-registry.json
  config/sync-manifest.json
  config/tooling-policy.json
  hooks/wagents-hook.py
  instructions/codex-global.md
  instructions/opencode-agents-overlay.md
  instructions/opencode-global.md
  opencode.json
  openspec/specs/downstream-tooling/spec.md
  planning/manifests/repo-drift-ledger.json
  planning/manifests/repo-sync-inventory.json
  scripts/sync_agent_stack.py
  tests/test_cli_integration.py
  tests/test_eval_cli.py
  tests/test_hook_events_sync.py
  tests/test_hooks_cli.py
  tests/test_installed_inventory.py
  tests/test_skill_index.py
  tests/test_sync_agent_stack.py
  tests/test_wagents_hook.py
  wagents/cli.py
  wagents/external_skills.py
  wagents/installed_inventory.py
  wagents/platforms/opencode.py
  wagents/skill_index.py
Due: none

chore(agents): refresh agent frontmatter descriptions
  .antigravity/rules/sync-workflow.md
  .claude/rules/skill-integrity.md
  .claude/rules/skill-validation.md
  .grok/config.toml
  agents/code-reviewer.md
  agents/docs-writer.md
  agents/orchestrator.md
  agents/performance-profiler.md
  agents/planner.md
  agents/release-manager.md
  agents/researcher.md
  agents/security-auditor.md
Due: wagents-validate

docs(namer): expand skill guidance and workflow detail
  skills/namer/SKILL.md
Due: wagents-validate

test(cli): isolate skills sync tests from desired catalog
  tests/test_cli_integration.py
Due: none

style(scripts): reorder imports in sync_agent_stack
  scripts/sync_agent_stack.py
Due: none

perf(inventory): parallelize harness skill inventory queries
  wagents/cli.py
  wagents/installed_inventory.py
Due: none

refactor(docs): unify catalog prose sanitization in rendering
  wagents/rendering.py
Due: none

feat(docs): add harness support matrix and trust tier badges
  tests/conftest.py
  tests/test_docs.py
  tests/test_site_model.py
  wagents/docs.py
  wagents/site_model.py
Due: none

docs(instructions): use portable paths in harness guidance
  .github/copilot-instructions.md
  .github/instructions/skill-integrity.instructions.md
  .github/instructions/skill-validation.instructions.md
  START-HERE.md
  config/mcp-registry.json
  docs/ai-tools/mcphub.md
  instructions/codex-global.md
  platforms/chatgpt/dev-harness/gateway/collection.mcp.json
  scripts/validate/collectors/mcp_registry.py
  scripts/validate/collectors/quarantine.py
  scripts/validate/validate_repo.py
  tests/test_validate_repo.py
Due: none

test(tests): isolate codex adapter dry-run from live codex-global.md
  tests/test_platform_adapters.py
Due: none

feat(scripts): add harness skill cleanup wave orchestrator
  scripts/harness_skill_cleanup_wave.py
Due: none

refactor(parsing): extract is_navigable_catalog_link_target helper
  tests/test_parsing.py
  wagents/parsing.py
  wagents/rendering.py
Due: none

style(tests): tidy platform adapter test imports and line length
  tests/test_platform_adapters.py
Due: none

refactor(validate): inline mcp registry json load
  scripts/validate/collectors/mcp_registry.py
Due: none

refactor(scripts): simplify parity gap detection in classify_row
  scripts/harness_skill_cleanup_wave.py
Due: none

docs(agents): document curated external skill promotion workflow
  AGENTS.md
  CONTRIBUTING.md
  SECURITY.md
  instructions/codex-global.md
  instructions/global.md
Due: none

fix(validate): harden MCP wildcard opt-in and quarantine checks
  scripts/validate/collectors/mcp_registry.py
  scripts/validate/collectors/quarantine.py
  tests/test_validate_repo.py
Due: none

refactor(parsing): centralize fence-aware line processing
  wagents/parsing.py
  wagents/rendering.py
Due: none

refactor(scripts): harden harness skill cleanup wave orchestrator
  scripts/harness_skill_cleanup_wave.py
Due: none

chore(inventory): raise harness timeout and mirror agents skills to Grok
  wagents/installed_inventory.py
Due: none

feat(docs): enrich curated catalog stubs with harness parity and research waves
  AGENTS.md
  openspec/changes/enrich-curated-catalog-pages/affected-surfaces.md
  openspec/changes/enrich-curated-catalog-pages/design.md
  openspec/changes/enrich-curated-catalog-pages/proposal.md
  openspec/changes/enrich-curated-catalog-pages/specs/docs-instructions/spec.md
  openspec/changes/enrich-curated-catalog-pages/tasks.md
  openspec/changes/enrich-curated-catalog-pages/validation-matrix.md
  scripts/curated_catalog_enrichment_wave.py
  tests/test_catalog_rows.py
  tests/test_curated_enrichment_wave.py
  tests/test_docs.py
  tests/test_rendering.py
  tests/test_skill_research.py
  tests/test_upstream_skill_fetch.py
  wagents/catalog_rows.py
  wagents/docs.py
  wagents/rendering.py
  wagents/skill_docs.py
  wagents/skill_research.py
  wagents/upstream_skill_fetch.py
Due: none

fix(docs): align curated research seed with catalog merge winners
  scripts/curated_catalog_enrichment_wave.py
  tests/test_catalog_rows.py
  tests/test_skill_research.py
  wagents/catalog_rows.py
  wagents/skill_research.py
Due: none

docs(skill-research): reseed duplicate-name curated rows after merge alignment
  docs/src/generated-skill-research-index.mjs
  docs/src/skill-research/code-review.md
  docs/src/skill-research/stripe-best-practices.md
  docs/src/skill-research/vitest.md
Due: docs-build-check

chore(docs): complete curated enrichment assurance wave
  docs/src/generated-skill-research-index.mjs
  docs/src/skill-research/opencode-ensemble.md
  tests/test_catalog_rows.py
  wagents/catalog_rows.py
  wagents/skill_research.py
  wagents/upstream_skill_fetch.py
Due: docs-build-check

feat(cli): add global uv tool install with repo discovery
  .github/workflows/ci.yml
  AGENTS.md
  agent-bundle.json
  docs/src/content/docs/cli.mdx
  openspec/changes/global-wagents-cli/design.md
  openspec/changes/global-wagents-cli/proposal.md
  openspec/changes/global-wagents-cli/tasks.md
  openspec/changes/global-wagents-cli/validation-matrix.md
  openspec/specs/downstream-tooling/spec.md
  pyproject.toml
  tests/test_repo_context.py
  tests/test_wagents_plugins.py
  tests/test_wagents_self.py
  tests/test_wagents_telemetry.py
  wagents/__init__.py
  wagents/cli.py
  wagents/context.py
  wagents/output.py
  wagents/platforms/base.py
  wagents/platforms/grok.py
  wagents/platforms/vscode.py
  wagents/plugins/__init__.py
  wagents/plugins/_example.py
  wagents/plugins/base.py
  wagents/plugins/loader.py
  wagents/repo_paths.py
  wagents/self_cmd.py
  wagents/telemetry.py
Due: docs-build-check

fix(docs): unblock build with harness-config hub and MDX escape
  docs/src/content/docs/harness-config/index.mdx
  docs/src/content/docs/skills/catalog/custom/wargame.mdx
Due: docs-build-check

feat(wagents): add compose post-review upgrade infrastructure
  docs/src/components/CatalogSkillFilter.astro
  planning/manifests/compose-post-review-baseline.json
  planning/manifests/compose-post-review-shards.json
  planning/manifests/docs-composed-coverage.json
  scripts/compose_shard_manifest.py
  tests/test_docs_compose.py
  tests/test_docs_mdx_safety.py
  wagents/docs.py
  wagents/docs_compose_batch.py
  wagents/docs_compose_regen_configs.py
  wagents/docs_compose_upgrade.py
  wagents/docs_compose_upgrade_agents.py
  wagents/docs_compose_upgrade_external.py
  wagents/docs_compose_upgrade_mcp.py
  wagents/docs_lint.py
  wagents/docs_mdx_safety.py
  wagents/page_frontmatter.py
  wagents/rendering.py
Due: docs-build-check

chore(tooling): modernize ty and ruff SSOT
  .claude/rules/python-quality.md
  .github/instructions/python-quality.instructions.md
  .github/workflows/ci.yml
  .github/workflows/release-skills.yml
  .pre-commit-config.yaml
  Makefile
  openspec/changes/modernize-ty-ruff-tooling/affected-surfaces.md
  openspec/changes/modernize-ty-ruff-tooling/baseline.json
  openspec/changes/modernize-ty-ruff-tooling/proposal.md
  openspec/changes/modernize-ty-ruff-tooling/specs/ci-evals-observability/spec.md
  openspec/changes/modernize-ty-ruff-tooling/specs/docs-instructions/spec.md
  openspec/changes/modernize-ty-ruff-tooling/specs/ux-cli/spec.md
  openspec/changes/modernize-ty-ruff-tooling/tasks.md
  openspec/changes/modernize-ty-ruff-tooling/validation-matrix.md
  pyproject.toml
  skills/frontend-designer/SKILL.md
  skills/frontend-designer/evals/audit-mode.json
  skills/frontend-designer/evals/component-creation.json
  skills/frontend-designer/evals/component-mode.json
  skills/frontend-designer/evals/evals.json
  skills/frontend-designer/evals/page-design.json
  skills/frontend-designer/evals/refactor-mode.json
  skills/frontend-designer/evals/scaffold-mode.json
  skills/frontend-designer/evals/scope-refusal.json
  skills/frontend-designer/evals/theme-mode.json
  skills/frontend-designer/references/aesthetic-guide.md
  skills/frontend-designer/references/anti-patterns.md
  skills/frontend-designer/references/modern-css.md
  skills/frontend-designer/references/react-19.md
  skills/frontend-designer/references/shadcn-patterns.md
  skills/frontend-designer/references/tailwind-v4.md
  skills/frontend-designer/references/typography.md
  skills/frontend-designer/references/vite-config.md
  skills/frontend-designer/scripts/check.py
  skills/frontend-designer/scripts/scan_frontend.py
  tests/test_python_tooling_config.py
  uv.lock
Due: wagents-validate
