Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

wagents-validate:
  name: Validate skills and agents
  entry: uv run wagents validate
  language: system
  pass_filenames: false

docs-build-check:
  name: Verify docs build
  entry: pnpm --dir docs build
  language: system
  pass_filenames: false

feat: add files-buddy skill
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/files-buddy.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-sidebar.mjs
  skills/files-buddy/SKILL.md
  skills/files-buddy/references/cloud-drives.md
  skills/files-buddy/references/duplicate-detection.md
  skills/files-buddy/references/organization-strategies.md
  skills/files-buddy/references/protected-paths.md
  skills/files-buddy/references/rename-patterns.md
  skills/files-buddy/references/safety-workflow.md
  skills/files-buddy/references/tool-integrations.md
  skills/files-buddy/scripts/dashboard-renderer.py
  skills/files-buddy/scripts/manifest-manager.py
  skills/files-buddy/templates/dashboard.html
Due: wagents-validate, docs-build-check

feat(skills): add draw-thing skill for local AI image generation
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/draw-thing.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-sidebar.mjs
  skills/draw-thing/SKILL.md
  skills/draw-thing/references/cli-reference.md
  skills/draw-thing/references/controlnet-guide.md
  skills/draw-thing/references/model-catalog.md
  skills/draw-thing/references/prompt-patterns.md
  skills/draw-thing/references/workflow-recipes.md
  skills/draw-thing/scripts/check-cli.sh
Due: wagents-validate, docs-build-check

fix(skills): address honest-review findings for draw-thing
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/draw-thing.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-sidebar.mjs
  skills/draw-thing/SKILL.md
  skills/draw-thing/references/cli-reference.md
  skills/draw-thing/references/controlnet-guide.md
  skills/draw-thing/references/model-catalog.md
  skills/draw-thing/references/prompt-patterns.md
  skills/draw-thing/references/workflow-recipes.md
  skills/draw-thing/scripts/check-cli.sh
  skills/skill-creator/scripts/audit.py
Due: wagents-validate, docs-build-check

fix(skills): correct draw-thing CLI flags from source research
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/draw-thing.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-sidebar.mjs
  skills/draw-thing/SKILL.md
  skills/draw-thing/references/cli-reference.md
  skills/draw-thing/references/model-catalog.md
  skills/draw-thing/references/prompt-patterns.md
  skills/draw-thing/references/workflow-recipes.md
Due: wagents-validate, docs-build-check

docs: sync AGENTS.md and docs pages after draw-thing + files-buddy
  AGENTS.md
  README.md
  docs/src/content/docs/skills/files-buddy.mdx
Due: docs-build-check

feat(nerdbot): add kb reference and asset templates
  skills/nerdbot/assets/activity-log-template.md
  skills/nerdbot/assets/comparison-page-template.md
  skills/nerdbot/assets/concept-page-template.md
  skills/nerdbot/assets/entity-page-template.md
  skills/nerdbot/assets/kb-bootstrap-template.md
  skills/nerdbot/assets/overview-page-template.md
  skills/nerdbot/assets/source-summary-template.md
  skills/nerdbot/references/audit-checklist.md
  skills/nerdbot/references/kb-architecture.md
  skills/nerdbot/references/kb-operations.md
  skills/nerdbot/references/migration-playbooks.md
  skills/nerdbot/references/page-templates.md
Due: wagents-validate

feat: add copilot fleet instructions layer
  .github/copilot-instructions.md
  AGENTS.md
  config/sync-manifest.json
  config/tooling-policy.json
  docs/src/content/docs/skills/orchestrator.mdx
  instructions/copilot-global.md
  platforms/copilot/agents/code-reviewer.agent.md
  platforms/copilot/agents/dependency-checker.agent.md
  platforms/copilot/agents/documenter.agent.md
  platforms/copilot/agents/perf-profiler.agent.md
  platforms/copilot/agents/security-auditor.agent.md
  platforms/copilot/agents/test-writer.agent.md
  scripts/sync_agent_stack.py
  skills/orchestrator/SKILL.md
Due: wagents-validate, docs-build-check

feat: add simplify skill
  AGENTS.md
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/simplify.mdx
  docs/src/generated-sidebar.mjs
  skills/simplify/SKILL.md
  skills/simplify/evals/ambiguous-boundary.json
  skills/simplify/evals/analyze-explicit.json
  skills/simplify/evals/apply-explicit.json
  skills/simplify/evals/empty-args.json
  skills/simplify/evals/explain-explicit.json
  skills/simplify/evals/implicit-explain.json
  skills/simplify/evals/implicit-trigger.json
  skills/simplify/evals/negative-debt-scope.json
  skills/simplify/evals/negative-perf-scope.json
  skills/simplify/evals/negative-review-scope.json
  skills/simplify/evals/scaling-orchestrator.json
  skills/simplify/references/behavior-preservation.md
  skills/simplify/references/output-formats.md
  skills/simplify/references/simplification-taxonomy.md
Due: wagents-validate, docs-build-check

chore: migrate python tooling to ruff and ty
  .claude/rules/python-quality.md
  .claude/settings.json
  .github/instructions/python-quality.instructions.md
  .github/workflows/ci.yml
  .github/workflows/release-skills.yml
  .pre-commit-config.yaml
  CLAUDE.md
  GEMINI.md
  Makefile
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/skills/python-conventions.mdx
  hooks/auto-format.sh
  hooks/lint-check.sh
  hooks/teammate-idle-gate.sh
  hooks/verify-before-stop.sh
  pyproject.toml
  skills/add-badges/scripts/detect.py
  skills/python-conventions/SKILL.md
  skills/python-conventions/evals/auto-invoke-trigger.json
  skills/python-conventions/references/exceptions.md
  wagents/cli.py
  wagents/docs.py
Due: wagents-validate, docs-build-check

fix: preserve docs generation and centralize ty
  .claude/rules/python-quality.md
  .github/instructions/python-quality.instructions.md
  .github/workflows/ci.yml
  .github/workflows/release-skills.yml
  .pre-commit-config.yaml
  CLAUDE.md
  GEMINI.md
  Makefile
  docs/src/content/docs/cli.mdx
  docs/src/content/docs/skills/python-conventions.mdx
  hooks/lint-check.sh
  hooks/teammate-idle-gate.sh
  hooks/verify-before-stop.sh
  pyproject.toml
  skills/python-conventions/SKILL.md
  skills/python-conventions/evals/auto-invoke-trigger.json
  tests/test_docs.py
  uv.lock
  wagents/docs.py
Due: wagents-validate, docs-build-check

feat(nerdbot): add knowledge base skill and docs
  AGENTS.md
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/nerdbot.mdx
  docs/src/generated-sidebar.mjs
  skills/nerdbot/SKILL.md
  skills/nerdbot/assets/activity-log-template.md
  skills/nerdbot/assets/kb-bootstrap-template.md
  skills/nerdbot/evals/audit-mode.json
  skills/nerdbot/evals/derive-mode.json
  skills/nerdbot/evals/empty-args-headless.json
  skills/nerdbot/evals/enrich-mode.json
  skills/nerdbot/evals/explicit-invocation.json
  skills/nerdbot/evals/implicit-trigger.json
  skills/nerdbot/evals/ingest-mode.json
  skills/nerdbot/evals/migrate-safety.json
  skills/nerdbot/evals/missing-reference-fallback.json
  skills/nerdbot/evals/negative-control.json
  skills/nerdbot/references/kb-architecture.md
  skills/nerdbot/references/kb-operations.md
  skills/nerdbot/references/migration-playbooks.md
  skills/nerdbot/references/page-templates.md
  skills/nerdbot/scripts/kb_bootstrap.py
  skills/nerdbot/scripts/kb_inventory.py
  skills/nerdbot/scripts/kb_lint.py
  tests/test_nerdbot_schema_contracts.py
  tests/test_nerdbot_scripts.py
Due: wagents-validate, docs-build-check

chore: expand mcp sync coverage
  config/mcp-registry.json
  config/sync-manifest.json
  docs/src/content/docs/index.mdx
  docs/src/content/docs/mcp/index.mdx
  docs/src/generated-sidebar.mjs
  mcp.json
  scripts/sync_agent_stack.py
  skills/wargame/references/visualizations.md
Due: wagents-validate, docs-build-check

fix(ci): format Python sources
  tests/test_nerdbot_scripts.py
  wagents/cli.py
Due: none

fix(sync): align Gemini CLI instructions and MCP tool filtering with Copilot
  config/mcp-registry.json
  mcp.json
  scripts/sync_agent_stack.py
Due: none

fix(sync): align gemini settings with claude (hooks, permissions, etc)
  scripts/sync_agent_stack.py
Due: none

feat(gemini): add gemini-specific global instructions shim
  instructions/gemini-cli-global.md
  scripts/sync_agent_stack.py
Due: none

feat(nerdbot): add Obsidian-native vault workflows
  docs/src/content/docs/skills/nerdbot.mdx
  skills/nerdbot/SKILL.md
  skills/nerdbot/assets/activity-log-template.md
  skills/nerdbot/assets/comparison-page-template.md
  skills/nerdbot/assets/concept-page-template.md
  skills/nerdbot/assets/entity-page-template.md
  skills/nerdbot/assets/kb-bootstrap-template.md
  skills/nerdbot/assets/overview-page-template.md
  skills/nerdbot/assets/source-summary-template.md
  skills/nerdbot/evals/audit-mode.json
  skills/nerdbot/evals/explicit-invocation.json
  skills/nerdbot/evals/implicit-trigger.json
  skills/nerdbot/evals/migrate-safety.json
  skills/nerdbot/evals/obsidian-create-mode.json
  skills/nerdbot/evals/obsidian-overhaul-first.json
  skills/nerdbot/evals/obsidian-workspace-negative-control.json
  skills/nerdbot/references/audit-checklist.md
  skills/nerdbot/references/kb-architecture.md
  skills/nerdbot/references/kb-operations.md
  skills/nerdbot/references/migration-playbooks.md
  skills/nerdbot/references/obsidian-vaults.md
  skills/nerdbot/references/page-templates.md
  skills/nerdbot/scripts/kb_bootstrap.py
  skills/nerdbot/scripts/kb_inventory.py
  skills/nerdbot/scripts/kb_lint.py
  tests/test_nerdbot_schema_contracts.py
  tests/test_nerdbot_scripts.py
Due: wagents-validate, docs-build-check

feat(skills): add obsidian skill collection
  skills/defuddle/SKILL.md
  skills/json-canvas/SKILL.md
  skills/json-canvas/references/EXAMPLES.md
  skills/obsidian-bases/SKILL.md
  skills/obsidian-bases/references/FUNCTIONS_REFERENCE.md
  skills/obsidian-cli/SKILL.md
  skills/obsidian-markdown/SKILL.md
  skills/obsidian-markdown/references/CALLOUTS.md
  skills/obsidian-markdown/references/EMBEDS.md
  skills/obsidian-markdown/references/PROPERTIES.md
Due: wagents-validate

Revert "feat(skills): add obsidian skill collection"
  skills/defuddle/SKILL.md
  skills/json-canvas/SKILL.md
  skills/json-canvas/references/EXAMPLES.md
  skills/obsidian-bases/SKILL.md
  skills/obsidian-bases/references/FUNCTIONS_REFERENCE.md
  skills/obsidian-cli/SKILL.md
  skills/obsidian-markdown/SKILL.md
  skills/obsidian-markdown/references/CALLOUTS.md
  skills/obsidian-markdown/references/EMBEDS.md
  skills/obsidian-markdown/references/PROPERTIES.md
Due: wagents-validate

Path conditions:
  wagents-validate: any of: ^(skills/|agents/)
  docs-build-check: any of: docs/.*\.(mdx|css|mjs|astro)$
