Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

chore(kb): sync activity log for scope-reset closure
  kb/activity/goal-closure-notes.md
  kb/activity/log.md
Due: none

chore(kb): closure capture at HEAD b5b9b28e
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): sync log pointer for closure capture b7058358
  kb/activity/log.md
Due: none

chore(kb): fix log header hygiene for closure capture entry
  kb/activity/log.md
Due: none

chore(kb): honest scope reporting and plan step4 alignment for closure
  kb/activity/goal-capture-template.py
  kb/activity/goal-closure-notes.md
  kb/activity/goal-verification-contract.md
  kb/activity/goal-verify.sh
  kb/activity/test_goal_verify.py
Due: none

chore(kb): sync log for scope honesty remediation
  kb/activity/log.md
Due: none

chore(kb): closure capture at HEAD d73d4205
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): sync log for closure capture d9cf7e64
  kb/activity/log.md
Due: none

chore(kb): final closure capture at HEAD 565dbd70
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): sync log for final closure capture
  kb/activity/log.md
Due: none

chore(kb): batched closure capture and log sync at HEAD
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): plan step4 literal gate and parallel-work disclosure artifact
  kb/activity/goal-hygiene-check.sh
  kb/activity/goal-verification-contract.md
  kb/activity/goal-verify.sh
  kb/activity/test_goal_verify.py
Due: none

chore(kb): batched closure capture at db664e33
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): read-only closure pipeline with emit_final_response SSOT
  kb/activity/assert_final_matches_scratch.sh
  kb/activity/emit_final_response.sh
  kb/activity/goal-capture-template.py
  kb/activity/goal-verification-contract.md
  kb/activity/goal-verify.sh
  kb/activity/per-wave-log-audit.sh
  kb/activity/test_goal_verify.py
Due: none

fix(docs): starlight home link and atomic sidebar write
  docs/src/generated-sidebar.mjs
  tests/test_docs.py
  wagents/docs.py
Due: docs-build-check

fix(grok-delegate): accept iso oauth expiry timestamps
  skills/grok-delegate/references/auth.md
  skills/grok-delegate/references/doctor-output.md
  skills/grok-delegate/scripts/auth_lib.py
  tests/test_grok_delegate_auth.py
Due: wagents-validate

fix(docs): render skill research nav outside evidence aside
  tests/test_docs.py
  wagents/docs.py
Due: none

feat(hooks): add warm worker socket forwarder and bundle dispatch
  hooks/post-edit-quality.sh
  hooks/wagents-hook-client.py
  hooks/wagents-hook-worker.py
  hooks/wagents-hook.py
Due: none

feat(hooks): bundle collapse, registry perf metadata, render worker tier
  wagents/hooks/bundle.py
  wagents/hooks/merge.py
  wagents/hooks/registry.py
  wagents/hooks/render.py
Due: none

test(hooks): fleet perf baseline, worker socket, bundle matchers
  tests/fixtures/hooks/codex-session-start.json
  tests/fixtures/hooks/cursor-bash-benign.json
  tests/fixtures/hooks/cursor-bash-destructive.json
  tests/fixtures/hooks/cursor-write-protected.json
  tests/fixtures/hooks/opencode-bash-force-push.json
  tests/hooks/test_bundle_dispatch.py
  tests/hooks/test_hook_worker.py
  tests/hooks/test_opencode_bridge_integration.py
  tests/hooks/test_performance_baseline.py
  tests/hooks/test_registry_perf_metadata.py
  tests/hooks/test_render_bundle_matchers.py
  tests/test_opencode_hook_bridge.py
  tests/test_sync_hook_fingerprint.py
  tests/test_wagents_hook.py
Due: none

docs(openspec): fleet hooks performance change + validation matrix
  openspec/changes/fleet-hooks-performance/affected-surfaces.md
  openspec/changes/fleet-hooks-performance/coordinator/wave-rw0-scaffold.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-rw1-rv001.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-rw2-rv002.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-rw3-rv005.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-rw4-rv003.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-rw5-rv004.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-rw6-close.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-ship-close.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-w0-scaffold.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-w1-baseline.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-w2-g1.json
  openspec/changes/fleet-hooks-performance/coordinator/wave-w4-g2-render.json
  openspec/changes/fleet-hooks-performance/design.md
  openspec/changes/fleet-hooks-performance/proposal.md
  openspec/changes/fleet-hooks-performance/specs/hooks-runtime-performance/spec.md
  openspec/changes/fleet-hooks-performance/tasks.md
  openspec/changes/fleet-hooks-performance/validation-matrix.md
  openspec/specs/hooks-runtime-performance/spec.md
Due: none

feat(opencode): hook bridge bundle timeout margin; hooks hub perf docs
  config/hook-registry.json
  config/tooling-policy.json
  docs/src/content/docs/hooks/index.mdx
  platforms/opencode/plugins/wagents-hook-bridge.ts
Due: docs-build-check

docs(openspec): ship-close wave assurance matrix (RV-S-008..011)
  openspec/changes/fleet-hooks-performance/validation-matrix.md
Due: none

test(hooks): assert bundle contiguity per harness projection
  tests/hooks/test_registry_perf_metadata.py
Due: none

feat(hooks): group hooks by logical_event before bundle collapse
  tests/hooks/test_registry_perf_metadata.py
  wagents/hooks/render.py
Due: none

feat(hooks): register copilot fleet guard policy aliases
  hooks/wagents-hook.py
Due: none

feat(hooks): refresh repo harness hook projections
  .claude/settings.json
  .cursor/hooks.json
  .gemini/settings.json
  .github/hooks/policy.json
Due: none

style(hooks): fix ruff spacing in hook runtime and render
  hooks/wagents-hook.py
  wagents/hooks/render.py
Due: none

style(hooks): ruff-fix policy modules and hook tests
  tests/hooks/test_hook_perf_inventory_tier.py
  tests/hooks/test_policies_modules.py
  wagents/hooks/policies/destructive_shell_guard.py
  wagents/hooks/policies/protected_file_guard.py
Due: none

chore(sync): refresh MCP projections after agent stack apply
  .cursor/mcp.json
  .grok/config.toml
  mcp.json
  mcp/mcphub/README.md
Due: none

chore(evals): exclude guarded research copy from bundled validator parity
  mcp/mcphub/README.md
  openspec/changes/enforce-unique-eval-prompts/affected-surfaces.md
  openspec/changes/enforce-unique-eval-prompts/validation-matrix.md
  openspec/changes/integrate-mcphub-control-plane/validation-matrix.md
  planning/manifests/public-release-readiness-evidence.md
  skills/research/scripts/asset_toolkit/validate_evals.py
  tests/test_skill_bundled_toolkit.py
Due: wagents-validate

chore(openspec): add integrate-custom-media-pentest-skills change
  openspec/changes/integrate-custom-media-pentest-skills/design.md
  openspec/changes/integrate-custom-media-pentest-skills/proposal.md
  openspec/changes/integrate-custom-media-pentest-skills/specs/skills-lifecycle/spec.md
  planning/research-lock/data-wizard-viz.md
  planning/research-lock/ffmpeg-taxonomy.md
  planning/research-lock/pentest-synthesis.md
  planning/research-lock/yt-dlp-protocol.md
Due: none

feat(skills): add ffmpeg CLI skill
  skills/ffmpeg/SKILL.md
  skills/ffmpeg/evals/evals.json
  skills/ffmpeg/references/probe-fields.md
  skills/ffmpeg/references/recipes-thumbnail-gif.md
  skills/ffmpeg/references/recipes-trim-transcode.md
  skills/ffmpeg/references/safety.md
  skills/ffmpeg/scripts/check.py
  skills/ffmpeg/scripts/doctor.py
  skills/ffmpeg/scripts/probe_media.py
  tests/test_ffmpeg_skill_scripts.py
Due: wagents-validate

feat(skills): add yt-dlp CLI skill
  skills/yt-dlp/SKILL.md
  skills/yt-dlp/evals/evals.json
  skills/yt-dlp/references/ethics-and-tos.md
  skills/yt-dlp/references/formats-and-quality.md
  skills/yt-dlp/references/troubleshooting.md
  skills/yt-dlp/scripts/check.py
  skills/yt-dlp/scripts/doctor.py
  skills/yt-dlp/scripts/probe_url.py
  tests/test_yt_dlp_skill_scripts.py
Due: wagents-validate

feat(skills): add pentest planning skill
  skills/pentest/SKILL.md
  skills/pentest/evals/evals.json
  skills/pentest/references/external-runners.md
  skills/pentest/references/findings-schema.md
  skills/pentest/references/osint.md
  skills/pentest/references/playbooks/api.md
  skills/pentest/references/playbooks/web.md
  skills/pentest/references/provenance.md
  skills/pentest/references/scope-and-roe.md
  skills/pentest/scripts/check.py
  skills/pentest/scripts/doctor.py
  skills/pentest/scripts/findings_emit.py
  skills/pentest/scripts/scope_check.py
  tests/test_pentest_skill_scripts.py
Due: wagents-validate

feat(data-wizard): add viz plan render and dashboard pipeline
  skills/data-wizard/SKILL.md
  skills/data-wizard/data/visualization-grammar.json
  skills/data-wizard/evals/evals.json
  skills/data-wizard/evals/viz-dashboard.json
  skills/data-wizard/evals/viz-plan.json
  skills/data-wizard/evals/viz-render.json
  skills/data-wizard/references/dashboard-design.md
  skills/data-wizard/references/visualization.md
  skills/data-wizard/scripts/dashboard-builder.py
  skills/data-wizard/scripts/viz-planner.py
  skills/data-wizard/scripts/viz-renderer.py
  skills/data-wizard/templates/dashboard.html
  tests/test_data_wizard_viz_scripts.py
Due: wagents-validate
