Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

wagents-validate:
  name: Validate skills and agents
  entry: uv run wagents validate
  language: system
  pass_filenames: false

docs-build-check:
  name: Verify docs build
  entry: pnpm --dir docs build
  language: system
  pass_filenames: false

docs(openspec): add remediate-agent-fleet-governance spec deltas
  openspec/changes/remediate-agent-fleet-governance/specs/agent-assets/spec.md
  openspec/changes/remediate-agent-fleet-governance/specs/ci-evals-observability/spec.md
  openspec/changes/remediate-agent-fleet-governance/specs/downstream-tooling/spec.md
  openspec/changes/remediate-agent-fleet-governance/validation-matrix.md
Due: none

chore(openspec): archive add-ddgs-mcp change
  openspec/changes/archive/2026-07-06-add-ddgs-mcp/affected-surfaces.md
  openspec/changes/archive/2026-07-06-add-ddgs-mcp/audit/ddgs-provenance.md
  openspec/changes/archive/2026-07-06-add-ddgs-mcp/design.md
  openspec/changes/archive/2026-07-06-add-ddgs-mcp/proposal.md
  openspec/changes/archive/2026-07-06-add-ddgs-mcp/tasks.md
  openspec/changes/archive/2026-07-06-add-ddgs-mcp/validation-matrix.md
  openspec/changes/remediate-rv-mcp/RV-CLOSURE.md
Due: none

chore(scripts): add candidate corpus shard generator
  scripts/generate_candidate_corpus_shards.py
Due: none

chore(docs): sync tooling catalog skill count
  docs/src/content/docs/catalog/tooling/index.mdx
Due: docs-build-check

chore(docs): refresh generated reports and catalog hub counts
  docs/public/generated-reports/docs-graph-snapshot.json
  docs/public/generated-reports/site-graph-insights.json
  docs/src/content/docs/catalog/agents/index.mdx
  docs/src/content/docs/catalog/mcp/index.mdx
  docs/src/content/docs/catalog/tooling/index.mdx
  docs/src/content/docs/reports/docs-graph-snapshot.mdx
  docs/src/content/docs/reports/site-graph-insights.mdx
Due: docs-build-check

fix(pentest): validator parity, restricted-phase gating, and doctor checks
  config/pentest-sensitive-install.json
  planning/research-lock/pentest-external-skill-index.json
  skills/pentest/references/methodology-router.md
  skills/pentest/references/provenance.md
  skills/pentest/scripts/doctor.py
  skills/pentest/scripts/pentest_policy.py
  skills/pentest/scripts/validate_external_index.py
  tests/test_pentest_index.py
  tests/test_pentest_skill_scripts.py
Due: wagents-validate

fix(docs): populate catalog tag and platform facet indexes
  tests/test_docs_catalog.py
  wagents/docs_catalog.py
Due: none

feat(docs): starlight plugin stack, reports hardening, and catalog stale checks
  .gitignore
  config/docs-artifact-registry.json
  docs/astro.config.mjs
  docs/ec.config.mjs
  docs/package.json
  docs/patches/starlight-site-graph@0.5.0.patch
  docs/pnpm-lock.yaml
  docs/pnpm-workspace.yaml
  docs/public/generated-reports/docs-dependency-drift.json
  docs/public/generated-reports/docs-graph-snapshot.json
  docs/public/generated-reports/maintainer-ops-dashboard.json
  docs/src/components/CatalogBrowser.astro
  docs/src/content/docs/harness-config/starlight-plugin-stack.mdx
  docs/src/content/docs/reports/docs-dependency-drift.mdx
  docs/src/content/docs/reports/docs-graph-snapshot.mdx
  docs/src/content/docs/reports/maintainer-ops-dashboard.mdx
  docs/src/content/docs/skills/catalog/external/index.mdx
  docs/src/lib/starlight-codeblock-icons.mjs
  docs/src/pages/og/[...route].ts
  openspec/changes/harden-docs-site-findings-jul2026/proposal.md
  openspec/changes/harden-docs-site-findings-jul2026/specs/docs-instructions/spec.md
  openspec/changes/harden-docs-site-findings-jul2026/tasks.md
  openspec/changes/integrate-starlight-plugin-stack/proposal.md
  openspec/changes/integrate-starlight-plugin-stack/specs/docs-instructions/spec.md
  openspec/changes/integrate-starlight-plugin-stack/tasks.md
  tests/fixtures/golden/docs/generated-site-data-counts.json
  tests/test_docs.py
  tests/test_docs_reports.py
  wagents/docs.py
  wagents/docs_reports.py
Due: docs-build-check

chore(planning): refresh candidate-corpus-jul2026 manifests and gate matrix
  planning/manifests/candidate-corpus-jul2026/all-records.json
  planning/manifests/candidate-corpus-jul2026/catalog-authoring-summary.json
  planning/manifests/candidate-corpus-jul2026/changelog-entry.md
  planning/manifests/candidate-corpus-jul2026/docs-impact-matrix.json
  planning/manifests/candidate-corpus-jul2026/docs-steward-surface-map.json
  planning/manifests/candidate-corpus-jul2026/docs-steward-surface-summary.md
  planning/manifests/candidate-corpus-jul2026/existing-integration-coverage.json
  planning/manifests/candidate-corpus-jul2026/final-review-report.md
  planning/manifests/candidate-corpus-jul2026/full-integration-progress.json
  planning/manifests/candidate-corpus-jul2026/github-metadata-audit.json
  planning/manifests/candidate-corpus-jul2026/integration-decisions.json
  planning/manifests/candidate-corpus-jul2026/live-install-command-preview.json
  planning/manifests/candidate-corpus-jul2026/normalized-urls.json
  planning/manifests/candidate-corpus-jul2026/promotion-gate-matrix.json
  planning/manifests/candidate-corpus-jul2026/promotion-readiness-queue.json
  planning/manifests/candidate-corpus-jul2026/promotion-wave-plan.json
  planning/manifests/candidate-corpus-jul2026/raw-research-packets.json
  planning/manifests/candidate-corpus-jul2026/records/093-nvidia-skills.json
  planning/manifests/candidate-corpus-jul2026/records/134-composiohq-awesome-codex-skills.json
  planning/manifests/candidate-corpus-jul2026/records/152-composiohq-awesome-codex-skills.json
  planning/manifests/candidate-corpus-jul2026/records/205-jihe520-social-push.json
  planning/manifests/candidate-corpus-jul2026/records/280-klajdikkolaj-upwork-autopilot.json
  planning/manifests/candidate-corpus-jul2026/research-packet-schema.json
  planning/manifests/candidate-corpus-jul2026/research-task-graph.json
  planning/manifests/candidate-corpus-jul2026/safe-wave-source-list-evidence.json
  planning/manifests/candidate-corpus-jul2026/shard-map-293.json
  planning/manifests/candidate-corpus-jul2026/subagent-wave-queue.json
  planning/manifests/candidate-corpus-jul2026/unique-target-research-packets.json
  planning/manifests/candidate-corpus-jul2026/validation-report.md
  scripts/audit_candidate_source_lists.py
  scripts/generate_candidate_corpus_shards.py
  scripts/promote_candidate_corpus.py
  tests/test_candidate_corpus.py
Due: none

feat(docs): add slim catalog browser index for external skill grid
  config/docs-artifact-registry.json
  docs/public/generated-registries/skills-catalog-browser-index.json
  docs/scripts/clean-build.mjs
  docs/src/components/CatalogBrowser.astro
  tests/conftest.py
  tests/test_pentest_index.py
  wagents/cli.py
  wagents/skill_index.py
Due: docs-build-check

test(docs): browser index schema, contract bounds, and clean-build smoke
  config/schemas/skills-catalog-browser-index.schema.json
  tests/conftest.py
  tests/test_docs.py
  tests/test_skill_index.py
  tests/test_skills_catalog_schemas.py
  wagents/skill_index.py
Due: none

refactor(docs): fold browser index stale check into catalog index gate
  wagents/docs.py
Due: none

chore(docs): regenerate site graph reports and catalog facet pages
  docs/public/generated-reports/docs-graph-snapshot.json
  docs/public/generated-reports/site-graph-insights.json
  docs/src/content/docs/architecture/progressive-disclosure.mdx
  docs/src/content/docs/catalog/platforms/index.mdx
  docs/src/content/docs/catalog/tags/index.mdx
  docs/src/content/docs/reports/docs-graph-snapshot.mdx
  docs/src/content/docs/reports/site-graph-insights.mdx
  docs/src/content/docs/skills/catalog/external/index.mdx
  openspec/changes/harden-docs-site-findings-jul2026/specs/docs-instructions/spec.md
  wagents/skill_index.py
Due: docs-build-check

docs(openspec): mark browser index and clean-build tasks complete
  openspec/changes/harden-docs-site-findings-jul2026/tasks.md
Due: none

fix(docs): remove stale deferred content resolver
  docs/astro.config.mjs
Due: docs-build-check

fix(docs): harden generated report freshness checks
  tests/test_docs_reports.py
  wagents/docs_reports.py
Due: none

chore(candidate-corpus): reconcile existing catalog coverage
  planning/manifests/candidate-corpus-jul2026/all-records.json
  planning/manifests/candidate-corpus-jul2026/catalog-authoring-summary.json
  planning/manifests/candidate-corpus-jul2026/existing-integration-coverage.json
  planning/manifests/candidate-corpus-jul2026/final-review-report.md
  planning/manifests/candidate-corpus-jul2026/full-integration-progress.json
  planning/manifests/candidate-corpus-jul2026/full-integration-state.md
  planning/manifests/candidate-corpus-jul2026/github-metadata-audit.json
  planning/manifests/candidate-corpus-jul2026/integration-decisions.json
  planning/manifests/candidate-corpus-jul2026/live-install-command-preview.json
  planning/manifests/candidate-corpus-jul2026/normalized-urls.json
  planning/manifests/candidate-corpus-jul2026/promotion-gate-matrix.json
  planning/manifests/candidate-corpus-jul2026/promotion-gate-summary.md
  planning/manifests/candidate-corpus-jul2026/promotion-readiness-queue.json
  planning/manifests/candidate-corpus-jul2026/promotion-wave-plan.json
  planning/manifests/candidate-corpus-jul2026/raw-research-packets.json
  planning/manifests/candidate-corpus-jul2026/research-packet-schema.json
  planning/manifests/candidate-corpus-jul2026/research-task-graph.json
  planning/manifests/candidate-corpus-jul2026/shard-map-293.json
  planning/manifests/candidate-corpus-jul2026/subagent-wave-queue.json
  planning/manifests/candidate-corpus-jul2026/unique-target-research-packets.json
  planning/manifests/candidate-corpus-jul2026/validation-report.md
  scripts/generate_candidate_corpus_shards.py
  scripts/promote_candidate_corpus.py
  tests/test_candidate_corpus.py
Due: none

test(candidate-corpus): harden promotion gate validation
  scripts/promote_candidate_corpus.py
  tests/test_candidate_corpus.py
  tests/test_docs_reports.py
  wagents/docs_reports.py
Due: none

test(candidate-corpus): validate malformed promotion payloads
  scripts/promote_candidate_corpus.py
  tests/test_candidate_corpus.py
Due: none

fix(docs): residual catalog SSOT and admin harden
  docs/src/components/admin/AdminLayout.astro
  docs/src/content/docs/catalog/platforms/index.mdx
  docs/src/content/docs/catalog/tags/index.mdx
  docs/src/lib/admin/http.ts
  docs/src/pages/admin/login.astro
  docs/src/pages/admin/security.astro
  docs/src/pages/api/admin/login.ts
  tests/test_docs.py
  tests/test_docs_catalog.py
  tests/test_rendering.py
  tests/test_site_model.py
  tests/test_skill_index.py
  wagents/docs.py
  wagents/docs_catalog.py
  wagents/page_chrome.py
  wagents/rendering.py
  wagents/site_model.py
  wagents/skill_index.py
Due: docs-build-check

chore(docs): prune unused deps and add admin redirect check
  docs/package.json
  docs/pnpm-lock.yaml
  docs/scripts/check-admin-redirect.mjs
Due: docs-build-check

docs(harness-config): mark pruned starlight packages
  docs/src/content/docs/harness-config/starlight-plugin-stack.mdx
Due: docs-build-check

ci(docs): run admin redirect allowlist check
  .github/workflows/ci.yml
Due: none

docs(skills): curate google-maps-scraper with pin and operator norms
  docs/src/authoring/skills/google-maps-scraper.mdx
  docs/src/content/docs/skills/catalog/external/google-maps-scraper.mdx
Due: docs-build-check

feat(mcp): add notebooklm server and nlm group to MCPHub registry
  .cursor/mcp.json
  config/mcp-registry.json
  mcp.json
  mcp/mcphub/mcp_settings.json
  scripts/validate/collectors/mcphub_settings.py
  tests/test_notebooklm_registry.py
Due: none

Path conditions:
  wagents-validate: any of: ^(skills/|agents/)
  docs-build-check: any of: docs/.*\.(mdx|css|mjs|astro)$
