Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

fix(sync): isolate Cherry imports and normalize Codex aliases
  config/sync-manifest.json
  docs/src/content/docs/mcp/index.mdx
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: docs-build-check

fix(docs): avoid duplicate mcp overview cards
  tests/test_docs.py
  wagents/docs.py
Due: none

feat(nerdbot): add query workflow and safer KB tooling
  docs/src/content/docs/skills/nerdbot.mdx
  skills/nerdbot/SKILL.md
  skills/nerdbot/assets/overview-page-template.md
  skills/nerdbot/evals/audit-mode.json
  skills/nerdbot/evals/evals.json
  skills/nerdbot/evals/generic-notes-negative-control.json
  skills/nerdbot/evals/improve-mode.json
  skills/nerdbot/evals/large-source-stub-ingest.json
  skills/nerdbot/evals/no-confirmation-plan-only.json
  skills/nerdbot/evals/obsidian-overhaul-first.json
  skills/nerdbot/evals/query-mode.json
  skills/nerdbot/scripts/kb_bootstrap.py
  skills/nerdbot/scripts/kb_inventory.py
  skills/nerdbot/scripts/kb_lint.py
Due: wagents-validate, docs-build-check

feat(eval): support canonical skill eval manifests
  tests/test_eval_cli.py
  wagents/cli.py
Due: none

feat(harness-master): add harness audit and approval workflow
  README.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/skills/harness-master.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/generated-sidebar.mjs
  skills/harness-master/SKILL.md
  skills/harness-master/evals/absent-surfaces.json
  skills/harness-master/evals/all-both.json
  skills/harness-master/evals/antigravity-global.json
  skills/harness-master/evals/antigravity-project-evidence-boundary.json
  skills/harness-master/evals/apply-approved.json
  skills/harness-master/evals/apply-without-review.json
  skills/harness-master/evals/cursor-project.json
  skills/harness-master/evals/degraded-docs.json
  skills/harness-master/evals/empty-invocation.json
  skills/harness-master/evals/harness-only.json
  skills/harness-master/evals/implicit-trigger.json
  skills/harness-master/evals/install-guidance.json
  skills/harness-master/evals/level-only.json
  skills/harness-master/evals/multi-harness-mixed-order.json
  skills/harness-master/evals/negative-control.json
  skills/harness-master/evals/unsupported-harness.json
  skills/harness-master/references/evidence-boundaries.md
  skills/harness-master/references/harness-checklists.md
  skills/harness-master/references/harness-surfaces.md
  skills/harness-master/references/install-guidance.md
  skills/harness-master/references/latest-doc-sources.md
  skills/harness-master/references/output-format.md
  skills/harness-master/references/workflow.md
  skills/harness-master/scripts/discover_surfaces.py
Due: wagents-validate, docs-build-check

fix(skill-creator): close follow-up review gaps
  skills/skill-creator/scripts/audit.py
  skills/skill-creator/scripts/package.py
  skills/skill-creator/templates/dashboard.html
  tests/test_package.py
  tests/test_progress.py
  tests/test_skill_creator_audit.py
Due: wagents-validate

docs: align honest-review review contracts
  skills/honest-review/evals/healthy-codebase.json
  skills/honest-review/evals/session-review-changes.json
  skills/honest-review/evals/session-review.json
  skills/honest-review/references/output-formats.md
  skills/honest-review/references/team-templates.md
Due: wagents-validate

refactor: tighten prompt-engineer contracts
  skills/prompt-engineer/SKILL.md
  skills/prompt-engineer/evals/analyze-existing-prompt.json
  skills/prompt-engineer/evals/analyze-prompt.json
  skills/prompt-engineer/evals/audit-report-only.json
  skills/prompt-engineer/evals/auto-detect-existing.json
  skills/prompt-engineer/evals/convert-between-models.json
  skills/prompt-engineer/evals/craft-new-prompt.json
  skills/prompt-engineer/evals/evals.json
  skills/prompt-engineer/evals/evaluate-prompt.json
Due: wagents-validate

refactor: tighten simplify apply boundaries
  docs/src/content/docs/skills/simplify.mdx
  skills/simplify/SKILL.md
  skills/simplify/evals/apply-snippet.json
Due: wagents-validate, docs-build-check

docs: add skill refinement program artifacts
  skills/skill-creator/reports/00-broad-sweep-matrix.md
  skills/skill-creator/reports/01-standalone-plan.md
Due: wagents-validate

refactor: enrich incident-response-engineer guidance
  skills/incident-response-engineer/SKILL.md
  skills/incident-response-engineer/evals/evals.json
  skills/incident-response-engineer/references/comms-templates.md
  skills/incident-response-engineer/references/containment-recovery-aids.md
  skills/incident-response-engineer/references/severity-matrix.md
  skills/incident-response-engineer/references/timeline-postmortem-examples.md
Due: wagents-validate

refactor: deepen event-driven-architect decision support
  skills/event-driven-architect/SKILL.md
  skills/event-driven-architect/evals/evals.json
  skills/event-driven-architect/references/event-vs-command.md
  skills/event-driven-architect/references/failure-modes.md
  skills/event-driven-architect/references/output-templates.md
  skills/event-driven-architect/references/saga-comparison.md
Due: wagents-validate

refactor: harden release-pipeline-architect routing
  skills/release-pipeline-architect/SKILL.md
  skills/release-pipeline-architect/evals/evals.json
  skills/release-pipeline-architect/references/failure-modes.md
  skills/release-pipeline-architect/references/provenance-evidence-checklist.md
  skills/release-pipeline-architect/references/rollout-decision-matrix.md
  skills/release-pipeline-architect/references/runbook-templates.md
Due: wagents-validate

refactor: deepen schema-evolution-planner rollout guidance
  skills/schema-evolution-planner/SKILL.md
  skills/schema-evolution-planner/evals/evals.json
  skills/schema-evolution-planner/references/change-type-decision-matrix.md
  skills/schema-evolution-planner/references/migration-failure-modes.md
  skills/schema-evolution-planner/references/output-templates.md
  skills/schema-evolution-planner/references/sample-rollout-sequences.md
Due: wagents-validate

refactor: strengthen observability-advisor decision support
  skills/observability-advisor/SKILL.md
  skills/observability-advisor/evals/evals.json
  skills/observability-advisor/references/alert-anti-patterns.md
  skills/observability-advisor/references/investigation-workflows.md
  skills/observability-advisor/references/output-templates.md
  skills/observability-advisor/references/signal-selection-matrix.md
  skills/observability-advisor/references/sli-slo-examples.md
Due: wagents-validate

refactor: enrich data-pipeline-architect operating contract
  skills/data-pipeline-architect/SKILL.md
  skills/data-pipeline-architect/evals/evals.json
  skills/data-pipeline-architect/references/decision-matrix.md
  skills/data-pipeline-architect/references/failure-modes.md
  skills/data-pipeline-architect/references/output-templates.md
  skills/data-pipeline-architect/references/worked-examples.md
Due: wagents-validate

refactor: clarify python-conventions operator contract
  skills/python-conventions/SKILL.md
  skills/python-conventions/evals/auto-invoke-trigger.json
  skills/python-conventions/evals/evals.json
  skills/python-conventions/evals/tooling-guidance.json
  skills/python-conventions/references/redirection-boundaries.md
  skills/python-conventions/references/tooling-contract.md
Due: wagents-validate

refactor: formalize shell-conventions operator contract
  skills/shell-conventions/SKILL.md
  skills/shell-conventions/evals/evals.json
  skills/shell-conventions/references/check-mode.md
  skills/shell-conventions/references/make-just.md
  skills/shell-conventions/references/redirection-boundaries.md
  skills/shell-conventions/references/script-baseline.md
Due: wagents-validate

refactor: harden orchestrator execution contracts
  skills/orchestrator/SKILL.md
  skills/orchestrator/evals/decomposition-gate.json
  skills/orchestrator/evals/evals.json
  skills/orchestrator/evals/pattern-selection.json
  skills/orchestrator/evals/tier-classification.json
  skills/orchestrator/references/classification-gate.md
  skills/orchestrator/references/misroute-examples.md
  skills/orchestrator/references/patterns.md
  skills/orchestrator/references/progress-accounting.md
  skills/orchestrator/references/runtime-capability-boundaries.md
Due: wagents-validate
