Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

chore(kb): extract goal closure notes from activity log
  kb/activity/goal-closure-notes.md
  kb/activity/log.md
  kb/indexes/repo-map.md
Due: none

chore(kb): harden goal-verify delivered audit and sync closure capture
  kb/activity/goal-verify.sh
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): sync closure capture to verification summary at 458c9178
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): final closure sync — capture, log refresh, closure notes
  kb/activity/goal-closure-notes.md
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): sync closure capture to tree f539ef55
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): closure terminal sync — log + capture at HEAD
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

fix(docs): register skill-research redirect route for Vercel
  docs/src/content/docs/agents/index.mdx
  docs/src/pages/skill-research/[id].ts
Due: docs-build-check

chore(kb): re-verify closure at repo HEAD 5e83e89e
  kb/activity/goal-closure-notes.md
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

fix(grok): disable compat hook inheritance blocking Write/Edit
  .claude/rules/grok.md
  .github/instructions/grok.instructions.md
  config/grok-config.toml
  instructions/grok-global.md
  skills/harness-master/references/harness-surfaces.md
  tests/test_grok_platform.py
  wagents/grok_doctor.py
Due: wagents-validate

feat(grok-delegate): bundled doctor preflight and contract tests v1.2.0
  .github/copilot-instructions.md
  README.md
  docs/public/generated-registries/skills-catalog-index.json
  docs/src/authoring/skills/grok-delegate.mdx
  docs/src/generated-site-data.mjs
  instructions/codex-global.md
  instructions/global.md
  openspec/specs/downstream-tooling/spec.md
  skills/grok-delegate/SKILL.md
  skills/grok-delegate/evals/evals.json
  skills/grok-delegate/evals/leader-lifecycle.json
  skills/grok-delegate/evals/patterns-dispatch.json
  skills/grok-delegate/evals/preflight-gate.json
  skills/grok-delegate/references/doctor-output.md
  skills/grok-delegate/references/graph-patterns.md
  skills/grok-delegate/references/output-json.md
  skills/grok-delegate/references/safety-permissions.md
  skills/grok-delegate/scripts/check.py
  skills/grok-delegate/scripts/doctor.py
  skills/grok-delegate/scripts/preflight.sh
  tests/test_grok_delegate_preflight.py
  tests/test_grok_delegate_skill.py
Due: wagents-validate, docs-build-check

chore(kb): re-verify closure at repo HEAD fed79885
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): record kb-research-ingest goal closure verification
  kb/activity/log.md
Due: none

chore(kb): re-verify closure at repo HEAD 2e3bee8a
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): sync closure capture pointer to HEAD 1cb4966b
  kb/activity/log.md
Due: none

chore(kb): final closure SSOT at HEAD 4729807c
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

feat(grok-delegate): bundle portable doctor and tests
  skills/grok-delegate/SKILL.md
  skills/grok-delegate/evals/preflight-gate.json
  skills/grok-delegate/references/doctor-output.md
  skills/grok-delegate/references/output-json.md
  skills/grok-delegate/references/safety-permissions.md
  skills/grok-delegate/scripts/check.py
  skills/grok-delegate/scripts/doctor.py
  tests/test_grok_delegate_skill.py
Due: wagents-validate

docs: clarify delegation preflight vs harness doctor
  AGENTS.md
  instructions/codex-global.md
  instructions/global.md
  instructions/grok-global.md
  openspec/specs/downstream-tooling/spec.md
Due: none

chore(kb): move goal closure notes out of wave headers
  kb/activity/goal-closure-notes.md
  kb/activity/log.md
Due: none

chore(kb): closure SSOT at HEAD fe344664
  kb/activity/goal-closure-notes.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

chore(kb): sync activity log closure pointer
  kb/activity/log.md
Due: none

test(kb): add goal-verify contract tests
  tests/test_kb_goal_verify.py
Due: none

chore(kb): closure capture at HEAD 7e07f6e3
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

test(kb): assert kb_dirty_paths and wave scope in goal-verify
  tests/test_kb_goal_verify.py
Due: none

chore(kb): closure capture SSOT at 459f7543
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

Revert "test(kb): assert kb_dirty_paths and wave scope in goal-verify"
  tests/test_kb_goal_verify.py
Due: none

Revert "test(kb): add goal-verify contract tests"
  tests/test_kb_goal_verify.py
Due: none

chore(kb): relocate goal-verify tests and harden scope audit
  kb/activity/goal-closure-notes.md
  kb/activity/goal-verification-contract.md
  kb/activity/goal-verify.sh
  kb/activity/test_goal_verify.py
Due: none

chore(kb): closure capture at bf8b9f0e
  kb/activity/log.md
  kb/raw/captures/goal-closure-audit-capture.md
Due: none

feat(grok): sync repo skills into .grok/skills for project discovery
  .gitignore
  config/sync-manifest.json
  tests/test_grok_platform.py
  wagents/platforms/grok.py
Due: none

Revert "feat(grok): sync repo skills into .grok/skills for project discovery"
  .gitignore
  config/sync-manifest.json
  tests/test_grok_platform.py
  wagents/platforms/grok.py
Due: none

Revert "fix(grok): disable compat hook inheritance blocking Write/Edit"
  .claude/rules/grok.md
  .github/instructions/grok.instructions.md
  config/grok-config.toml
  instructions/grok-global.md
  skills/harness-master/references/harness-surfaces.md
  tests/test_grok_platform.py
  wagents/grok_doctor.py
Due: wagents-validate

Revert "feat(grok-delegate): bundle portable doctor and tests"
  skills/grok-delegate/SKILL.md
  skills/grok-delegate/evals/preflight-gate.json
  skills/grok-delegate/references/doctor-output.md
  skills/grok-delegate/references/output-json.md
  skills/grok-delegate/references/safety-permissions.md
  skills/grok-delegate/scripts/check.py
  skills/grok-delegate/scripts/doctor.py
  tests/test_grok_delegate_skill.py
Due: wagents-validate

Revert "feat(grok-delegate): bundled doctor preflight and contract tests v1.2.0"
  .github/copilot-instructions.md
  README.md
  docs/public/generated-registries/skills-catalog-index.json
  docs/src/authoring/skills/grok-delegate.mdx
  docs/src/generated-site-data.mjs
  instructions/codex-global.md
  instructions/global.md
  openspec/specs/downstream-tooling/spec.md
  skills/grok-delegate/SKILL.md
  skills/grok-delegate/evals/evals.json
  skills/grok-delegate/evals/leader-lifecycle.json
  skills/grok-delegate/evals/patterns-dispatch.json
  skills/grok-delegate/evals/preflight-gate.json
  skills/grok-delegate/references/doctor-output.md
  skills/grok-delegate/references/graph-patterns.md
  skills/grok-delegate/references/output-json.md
  skills/grok-delegate/references/safety-permissions.md
  skills/grok-delegate/scripts/check.py
  skills/grok-delegate/scripts/doctor.py
  skills/grok-delegate/scripts/preflight.sh
  tests/test_grok_delegate_preflight.py
  tests/test_grok_delegate_skill.py
Due: wagents-validate, docs-build-check

Revert "docs: clarify delegation preflight vs harness doctor"
  AGENTS.md
  instructions/codex-global.md
  instructions/global.md
  instructions/grok-global.md
  openspec/specs/downstream-tooling/spec.md
Due: none

Revert "fix(docs): register skill-research redirect route for Vercel"
  docs/src/content/docs/agents/index.mdx
  docs/src/pages/skill-research/[id].ts
Due: docs-build-check

chore(kb): add scope reset and fail-closed goal verification
  kb/activity/goal-scope-reset.sh
  kb/activity/goal-verify.sh
  kb/activity/test_goal_verify.py
Due: none

chore(kb): snapshot worktree scope before goal verification runs
  kb/activity/goal-scope-reset.sh
  kb/activity/goal-verify.sh
Due: none

chore(kb): closure capture at HEAD 17cba425
  kb/raw/captures/goal-closure-audit-capture.md
Due: none
