Repository wyattowalsh/agents: changes, and which pre-commit hooks are due for each by the changed paths.
All: wagents-validate, docs-build-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.2
    hooks:
      - id: ruff
        args: [check, wagents/]
      - id: ruff-format
        args: [wagents/]

  - repo: local
    hooks:
      - id: wagents-validate
        name: Validate skills and agents
        entry: uv run wagents validate
        language: system
        pass_filenames: false
        files: ^(skills/|agents/)
      - id: docs-build-check
        name: "Verify docs build"
        entry: pnpm --dir docs build
        language: system
        files: 'docs/.*\.(mdx|css|mjs|astro)$'
        pass_filenames: false

refactor: restructure host-panel around canonical dispatch
  skills/host-panel/SKILL.md
  skills/host-panel/evals/evals.json
  skills/host-panel/references/moderator-rules.md
  skills/host-panel/references/research-integrity.md
  skills/host-panel/references/synthesis.md
  skills/host-panel/references/topic-diagnostic.md
Due: wagents-validate

refactor: formalize add-badges badge workflow
  skills/add-badges/SKILL.md
  skills/add-badges/evals/badge-detection.json
  skills/add-badges/evals/evals.json
  skills/add-badges/evals/readme-insertion.json
Due: wagents-validate

refactor: align honest-review review contracts
  skills/honest-review/SKILL.md
  skills/honest-review/evals/approval-gate.json
  skills/honest-review/evals/diff-mode.json
  skills/honest-review/evals/history-mode.json
  skills/honest-review/evals/reasoning-first-output.json
  skills/honest-review/references/output-formats.md
  skills/honest-review/references/team-templates.md
Due: wagents-validate

refactor: tighten prompt-engineer preflight contracts
  skills/prompt-engineer/SKILL.md
  skills/prompt-engineer/evals/evals.json
  skills/prompt-engineer/references/output-formats.md
Due: wagents-validate

refactor: tighten simplify safety boundaries
  skills/simplify/SKILL.md
  skills/simplify/evals/ambiguous-active-diff.json
  skills/simplify/evals/mixed-snippet-file.json
  skills/simplify/references/behavior-preservation.md
Due: wagents-validate

refactor: extend skill-creator planning authority
  skills/skill-creator/SKILL.md
  skills/skill-creator/evals/no-edit-before-approval.json
  skills/skill-creator/evals/repo-wide-planning.json
  skills/skill-creator/evals/standalone-plan-output.json
  skills/skill-creator/references/refinement-plan.md
  skills/skill-creator/references/workflow.md
Due: wagents-validate

docs: sync skill discovery surfaces
  README.md
  docs/src/content/docs/skills/data-pipeline-architect.mdx
  docs/src/content/docs/skills/event-driven-architect.mdx
  docs/src/content/docs/skills/incident-response-engineer.mdx
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/javascript-conventions.mdx
  docs/src/content/docs/skills/learn.mdx
  docs/src/content/docs/skills/observability-advisor.mdx
  docs/src/content/docs/skills/orchestrator.mdx
  docs/src/content/docs/skills/python-conventions.mdx
  docs/src/content/docs/skills/release-pipeline-architect.mdx
  docs/src/content/docs/skills/schema-evolution-planner.mdx
  docs/src/content/docs/skills/shell-conventions.mdx
  docs/src/content/docs/skills/simplify.mdx
  docs/src/content/docs/skills/skill-creator.mdx
Due: docs-build-check

refactor: restore skill-creator validation contract
  skills/skill-creator/SKILL.md
  skills/skill-creator/references/workflow.md
Due: wagents-validate

docs: sync preserved skill pages
  docs/src/content/docs/skills/add-badges.mdx
  docs/src/content/docs/skills/honest-review.mdx
  docs/src/content/docs/skills/host-panel.mdx
  docs/src/content/docs/skills/orchestrator.mdx
  docs/src/content/docs/skills/prompt-engineer.mdx
  docs/src/content/docs/skills/python-conventions.mdx
Due: docs-build-check

refactor: restore files-buddy portability
  skills/files-buddy/SKILL.md
Due: wagents-validate

refactor: fix harness-master portability reference
  skills/harness-master/SKILL.md
  skills/harness-master/references/workflow.md
Due: wagents-validate

docs: sync generated skill surfaces
  docs/src/content/docs/skills/files-buddy.mdx
  docs/src/content/docs/skills/harness-master.mdx
  docs/src/content/docs/skills/skill-creator.mdx
Due: docs-build-check

feat: modernize codex config sync
  config/codex-config.toml
  config/sync-manifest.json
  config/tooling-policy.json
  instructions/codex-global.md
  pyproject.toml
  scripts/sync_agent_stack.py
  scripts/validate_codex_config.py
  tests/test_sync_agent_stack.py
  uv.lock
Due: none

fix: refresh codex config copy
  config/codex-config.toml
Due: none

test: isolate codex config copy rendering
  tests/test_sync_agent_stack.py
Due: none

fix: sanitize codex config copy
  config/codex-config.toml
  scripts/sync_agent_stack.py
  tests/test_sync_agent_stack.py
Due: none

feat(prompt-engineer): expand production workflows
  README.md
  docs/src/content/docs/skills/index.mdx
  docs/src/content/docs/skills/prompt-engineer.mdx
  docs/src/content/docs/skills/skill-creator.mdx
  skills/prompt-engineer/SKILL.md
  skills/prompt-engineer/evals/evals.json
  skills/prompt-engineer/references/anti-patterns.md
  skills/prompt-engineer/references/architecture-patterns.md
  skills/prompt-engineer/references/context-management.md
  skills/prompt-engineer/references/evaluation-frameworks.md
  skills/prompt-engineer/references/hardening-checklist.md
  skills/prompt-engineer/references/model-playbooks.md
  skills/prompt-engineer/references/output-formats.md
  skills/prompt-engineer/references/technique-catalog.md
  skills/prompt-engineer/scripts/validate-references.py
Due: wagents-validate, docs-build-check

feat(skills): harden simplify safety gates
  docs/src/content/docs/skills/simplify.mdx
  skills/simplify/SKILL.md
  skills/simplify/evals/api-validation-change.json
  skills/simplify/evals/apply-invalid-path.json
  skills/simplify/evals/extension-point-removal.json
  skills/simplify/evals/mixed-bugfix-intent.json
  skills/simplify/evals/policy-boundary-removal.json
  skills/simplify/evals/vague-multi-file-active-diff.json
  skills/simplify/evals/weak-validation-proof.json
  skills/simplify/references/behavior-preservation.md
  skills/simplify/references/output-formats.md
  skills/simplify/references/simplification-taxonomy.md
Due: wagents-validate, docs-build-check

fix(skills): align simplify safety gate evals
  docs/src/content/docs/skills/simplify.mdx
  skills/simplify/SKILL.md
  skills/simplify/evals/apply-explicit.json
  skills/simplify/evals/implicit-trigger.json
  skills/simplify/references/output-formats.md
Due: wagents-validate, docs-build-check
